    <p>
        <img src="img/dont-miss-background-paper.png" class="paper" alt="">
        <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">
        
        <a class="earlyfootsteps" href="#" data-content="Follow in the footsteps of early explorer Quintin McKinnon who discovered the route, now famously known as the Milford Track, from Lake Te Anau to Milford Sound in 1888.">
            <img src="img/walks/milford-track/dont-miss-earlyfootsteps.png" alt="Early Footsteps">
        </a>
        <a class="raincoat" href="#" data-content="Spectacular Sutherland Falls drops 580 meters in three leaps from Lake Quill. Leave your pack at the shelter but don’t forget to take your raincoat – the falls generate a lot of spray! Allow 1.5 hours for the return trip.">
            <img src="img/walks/milford-track/dont-miss-raincoat.png" alt="Raincoat">
        </a>

        <a class="falls" href="#" data-content="Fiordland National Park is renowned for its high annual rainfall but don’t despair! The rain provides a mystical moss-draped forest, energetic streams and rivers, and waterfalls that are even more spectacular!">
            <img src="img/walks/milford-track/dont-miss-falls.png" alt="Falls">
        </a>

        <a class="duck" href="#" data-content="Look out for blue duck / Whio riding rapids on the Clinton and Arthur Rivers. Often hard to spot, their blue-grey feathers provide perfect camouflage amongst rocks. Males whistle a call of ‘fee-o’ while females make a low rattling sound.">
            <img src="img/walks/milford-track/dont-miss-duck.png" alt="Blue Duck">
        </a>

        <a class="suspensionbridge" href="#" data-content="Cross the Clinton River on this impressive 72 meters suspension bridge, built by Fijian engineers in 1978. The bridge is a great place to spot eels and trout in the river.">
            <img src="img/walks/milford-track/dont-miss-suspensionbridge.png" alt="Suspension Bridge">
        </a>

       
    </p>

