
<h3>Start of the track</h3>
<p>The Milford Track is accessed by boat from Te Anau Downs, 27 km from Te Anau on SH94.</p>
<p>The track starts at Glade Wharf at the head of Lake Te Anau. Take a bus or private transport to Te Anau Downs, then a boat trip (1 hour 15 minutes).</p>
<p>The track finishes at Sandfly Point. Take a boat trip (15 minutes) to Milford Sound/Piopiotahi, where there are bus services back to Te Anau and on to Queenstown.</p>
<p>During the Great Walks season (late October to late April), there are regular transport services to and from the track, which must be booked in advance—you can book connecting transport online when you book your hut tickets.</p>
<p>Te Anau has a full range of accommodation, transport and equipment suppliers.</p>

<h3>Road distances and times</h3>
<p>Queenstown - 174 km, 2 hours 30 min (to Te Anau)</p>
<p>Invercargill - 159 km, 2 hours 30 min (to Te Anau)</p>
<p>These driving times are indicative only - always allow for extra time to get to your destination.</p>

<h3>Nearest airports</h3>
<p>Queenstown and Invercargill are the nearest airports to the Milford Track. 
<p>To make a flight booking, please visit <a href="http://www.airnewzealand.co.nz/home?gclid=COTD2eHFrroCFcs1pgod03oAqQ">Air New Zealand</a>. Flights to these airports typically connect from Auckland, Christchurch or Wellington.

<h3>Transport and accommodation</h3>
<p><a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/fiordland/northern-fiordland/milford-track/plan-and-prepare/guides-and-commercial-tourism-providers/">Guides and commercial tourism providers</a> – find accommodation, transport, and activities in the area.
