<h3>Nearest airports</h3>

  <ul>
    <li>Queenstown - 174 km, 2 hours 30 min (to Te
    Anau)</li>

    <li>Invercargill - 159 km, 2 hours 30 min (to Te
    Anau)</li>
  </ul>

  <p>Flights to these airports typically connect from Auckland,
  Wellington and Christchurch. The above driving times are indicative only - always allow
  for extra time to get to your destination.</p>

  <h3>How to get to the trailhead</h3>

  <p>The Milford Track is located in Fiordland National Park. Walking
  the Milford Track requires bus or private transport to Te Anau Downs, then a boat trip
  (1 hour 15 min) to Glade Wharf, the start of the track. Boat transport  (15 min)
  is also required from Sandfly Point, at the end of the track, to Milford
  Sound/Piopiotahi.</p>

    <p>Travelling by road: between Te Anau and Te Anau Downs (27 km),
  between Milford Sound and Te Anau (120 km) and between Te Anau and Queenstown (197 km)</p>

  
  <p>From late October to late April, there
  are regular transport services to and from the Milford Track.</p>


  <h3>Transport and accommodation</h3>

  <p><a  href=
  "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/fiordland/northern-fiordland/milford-track/plan-and-prepare/guides-and-commercial-tourism-providers/">
  Guides and commercial tourism providers</a> - find accommodation,
  transport, and activities in the area.</p>