    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

<p>The Milford Track can only be walked in one direction. The track is well marked and signposted, but some sections may be steep, rough or muddy. Winter conditions make the track more challenging. This guide describes a 4 day hike for independent, non-guided walkers travelling from the head of Lake Te Anau to Sandfly Point in Milford Sound/Piopiotahi.</p>

<h3>Day 1: Glade Wharf to Clinton Hut</h3>
<h4>5 km, 1 hour – 1 hour 30 minutes</h4>
<p>After a boat cruise from Te Anau Downs (1 hour 15 minutes), take a leisurely walk through beautiful beech forest along the banks of the Clinton River to Clinton Hut, where all walkers must spend the first night. There are great swimming holes near the hut and the option of a short walk around the wetland boardwalk.</p>

<h3>Day 2: Clinton Hut to Mintaro Hut</h3>
<h4>16.5 km, 6 hours</h4>
<p>A gradual climb follows the Clinton River to its source, Lake Mintaro, at the base of the renowned Mackinnon Pass. Past Hirere Falls you will get your first view of Mackinnon Pass, and the impressive Pompolona ice field. Take in the sheer scale of the rock walls towering above on either side as you walk up the Clinton Valley. The vegetation changes as you near the hut, reflecting the higher altitude and heavier rainfall.</p>

<h3>Day 3: Mintaro Hut to Dumpling Hut</h3>
<h4>14 km, 6–7 hours</h4>
<p>Climb to Mackinnon Pass and the memorial to explorer Quintin Mackinnon, with exceptional views of Lake Mintaro and the Clinton Canyon along the way. The memorial is a great place to take in the awe-inspiring panoramas, before reaching the highest point of the track and Mackinnon Pass Shelter (1154 metres). From here, the track to Dumpling Hut drops steadily through an attractive alpine garden to the valley floor, passing several waterfalls before arriving at Quintin Shelter.En route to Dumpling Hut, take a moment to admire Sutherland Falls in the distance.</p>

<h3>Day 4: Dumpling Hut to Sandfly Point</h3>
<h4>18 km, 5 hours 30 minutes – 6 hours</h4>
<p>From Dumpling Hut, the track follows the Arthur River to the historic Boatshed. Further along the track, you will reach the impressive Mackay Falls and intriguing Bell Rock. Admire the man-made rock cuttings alongside the Arthur River and Lake Ada, before spending the last 3 km on a smooth, wide track constructed by a prison labour gang between 1890 and 1892. A short boat ride from Sandfly Point will take you to your journey’s end, with world famous views of Milford Sound/Piopiotahi along the way.</p>

<h3>Optional side trip</h3>
<p><b>Day 3: Sutherland Falls. 1 hour 30 minutes return from Quintin Shelter.</b> The largest waterfall in New Zealand drops 580 metres in three leaps from Lake Quill. Leave your pack at the shelter but don’t forget to take your raincoat, as the falls generate a lot of spray!</p>