    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>


<h3>Track description</h3>

  <p>The Milford Track can only be walked in one direction. The track
  starts at the head of Lake Te Anau and finishes at Milford Sound/Piopiotahi. This guide
  describes the 4 day, 3 night trip for independent, non-guided walkers.</p>



  <h3>Walking guide</h3>
  
  <h4>Glade Wharf to Clinton Hut</h4>

  <p><strong>1-1.5 hours, 5 km</strong></p>

  <p>Head to the wharf at Te Anau downs for a leisurely 1 hour 25 minute
  cruise across the lake to the start of the Milford Track. 1km into your walk, you will
  come across the first and largest of several suspension bridges along the track. The
  well-graded track goes through beautiful beach forest and along the banks of the
  Clinton River. A short 10 minute side track just before the Clinton Hut, leads to a
  wetland area. There are great swimming holes near the hut.</p>

  <h4>Clinton Hut to Mintaro Hut</h4>

  <p><strong>6 hours, 16.5 km</strong></p>

  <p>Following the Clinton River, you gradually climb towards its source
  Lake Mintaro at the base of Mackinnon Pass. Admire the lush forest as you head towards
  Clinton Forks &ndash; a prime spot for seeing the endangered whio (blue duck). Past the
  Hirere Falls, you get a first view of the Mackinnon Pass and the impressive Pompolona
  ice field. From here, you can take in the sheer scale of the rock walls towering above
  and notice the vegetation change as you reach higher altitudes.</p>

  <h4>Mintaro Hut to Dumpling Hut</h4>

  <p><strong>6-7 hours, 14 km</strong></p>

  <p>A zigzag climb leads to Mackinnon Pass and the memorial to Quintin
  Mackinnon which has inspiring views of Lake Mintaro and the Clinton Canyon. The track
  from here drops steadily, through an alpine garden and several waterfalls before
  arriving at the Bus Stop Shelter at Marlene&rsquo;s Creek and the Sutherland Falls side
  track. Here you can opt to leave your pack at the shelter and take the track up to the
  magnificent Sutherland Falls, the highest in New Zealand. Allow an extra 1.5 hours walk
  time return.</p>

  <h4>Dumpling Hut to Sandfly Point</h4>

  <p><strong>5.5-6 hours, 18 km</strong></p>

  <p>Follow the Arthur River to the historic boatshed, the impressive
  Mackay Falls and intriguing Bell Rock. Admire the rock cuttings alongside the Arthur
  River and Lake Ada, which were blasted and hand cut by contracted labourers. The final
  3 km of the walk is an enjoyable, smooth, wide track constructed by a prison labour
  gang in the early 1890s. Pass the Giant Gate Falls before you take the short boat ride
  back to Te Anau.</p>