<p>DOC provides three huts on the Milford Track.</p>

  <h3>Huts</h3>

  <p>Milford Track huts have heating, toilets, bunks,
  mattresses, cooking facilities, solar powered lighting and cold running water. A DOC
  ranger is in residence during the Great Walks season (late October to late April).
  Note: Huts do not provide pots and pans, cooking
  utensils, hot showers, linen, toilet paper or food and drinks for purchase. Make sure
  you put these things on your checklist before you go.</p>

  <ul>
    <li>Clinton Hut: 40 bunks</li>

    <li>Mintaro Hut: 40 bunks</li>

    <li>Dumpling Hut: 40 bunks</li>
  </ul>

  <h3>Campsites</h3>

  <p>Camping is not allowed anywhere on the Milford Track.</p>

<h3>
      Cost and booking
    </h3>
    <p>
      Fees are charged per person, per night to stay in huts.
    </p>
    <p>
      Bookings are essential! Use the <a href="https://booking.doc.govt.nz/Menu.aspx?sg=MIL">DOC online booking system</a> prior to travel or
      call <a href="tel:0800694732" class="btn phone"></a>0800 NZ GREATWALKS.
    </p>
