::selection {
    background-color:Transparent;
    color:#000;
    }

html {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;
}

body {
    background:black;
}

label {
    cursor:pointer;
}

@font-face {
  font-family: CopseTTF;
  src:
    url("../fonts/copse.ttf") format('truetype');
}
/* Need to supply both TTF and Woff http://caniuse.com/woff */

@font-face {
  font-family: CopseWoff;
  src:
     url("../fonts/copse.woff") format('woff');
}


@import url("bootstrap-navbar.less");

@import url("bootstrap-popovers.less");

@import url("bootstrap-modal.less");

@import url("slideout-navigation.less");

@import url("content.less");

@import url("info.less");

@import url("offers.less");

@import url("walk.less");

@import url("find-an-adventure.less");

@import url("index.less");

@import url("visitor-centre.less");

@import url("book.less");

@import url("maps.less");

@import url("map.less");