    <p>
      It is important&nbsp;to plan and prepare
      so that you are well equipped to enjoy your Great Walk.
    </p>
    
    <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    
    
    <h3>Tongariro Northern
      Circuit&nbsp;safety
    </h3>
    <ul>
      <li>
        The Tongariro Northern Circuit is considered challenging &ndash; often
        covering exposed terrain, with much of it on uneven track surfaces. Reasonable
        fitness is required. Cold temperatures, snow, strong winds and heavy rain can
        occur at any time of the year. You must be self-sufficient and responsible for
        ensuring your own safety while walking.
      </li>
      <li>
        The area is subject to volcanic activity, please check the current Volcanic
        Alert Level.
      </li>
      <li>
        There is a risk of Giardia. Boil, filter or chemically treat water if you
        doubt its purity.
      </li>
      <li>
        Cell phone coverage on the track is limited.
      </li>
    </ul>
    <h3>Things to know before you
      go
    </h3>
    <ul>
      <li>
        A good level of fitness and the right outdoor clothing and equipment will
        greatly improve the enjoyment of your trip.
      </li>
      <li>
        Safety is your responsibility - leave your trip details with a trusted
        contact. Intention forms are available at <a href=
        "http://adventuresmart.org.nz">adventuresmart.org.nz</a>.
      </li>
      <li>
        Book your trip well in advance including your accommodation, transport and
        transfers to the start/end of the Great Walk.
      </li>
      <li>
        Pack all necessary equipment, your own food and drinks and any personal
        items for your trip, including an extra day&rsquo;s supply of food and water.
        Food and drinks are not available for purchase at Great Walks huts and
        campsites.
      </li>
      <li>
        For a full list of equipment and preparation required for this walk plus
        track updates for Tongariro Northern Circuit, please visit <a href=
        "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/central-north-island/turangi-taupo/tongariro-northern-circuit/plan-and-prepare/">
        the DOC website.</a>
      </li>
    </ul>
    <h3>
      When to go
    </h3>
    <p>
      The Tongariro Northern Circuit can be walked in either direction. The safest
      and most popular time of year to walk this track is during the summer months
      (December - March) when the tracks are normally clear of snow and the weather is
      less severe.
    </p>
    <h3>
      What to bring
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, including high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
    </ul>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    <h3>
      Travelling with
      children
    </h3>
    <p>
      The circuit is a moderately challenging hike, mostly on open and exposed
      volcanic terrain and is not recommended for children under the age of 10. However,
      there are a range of shorter walking opportunities, suitable for the whole family
      and for those with less time available. You can do a walk of a few hours or a whole
      day, or an overnight stay in one of the huts or campsites.
    </p>
    <h3>
      Nearest DOC visitor
      centre
    </h3>
    <p>
      Tongariro National Park Visitor Centre <br />
      Whakapapa Village State Highway 48<br />
      Mount Ruapehu<br />
      <a href="tel:+6478923729" class="btn phone">+64 7 892 3729</a><br />
      <a href="mailto:tongarirovc@doc.govt.nz" class="btn email">tongarirovc@doc.govt.nz</a>
    </p>
    <h4>
      Hours</h4>
      <p>
      Summer (Dec - Feb):<br />
      8:00 am - 6:00 pm daily (closed Christmas Day)<br />
      Winter (Mar - Nov):<br /> 
      8:00 am - 5:00 pm daily
    </p>
    <h4>
      Services
    </h4>
    <p>
      Great Walks bookings and recreational information for the
      area.
    </p>
