    <p>
      It is <b>important</b> to plan and prepare
      so that you are well equipped to enjoy your Great Walk.
    </p>
    
    <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    
    
    <h3>Track safety</h3>
    <ul>
      <li>
        This track is not recommended for children under the age of 10 due to the exposed mountainous environment and often, adverse weather conditions.
      </li>
      <li>
        The Tongariro Northern Circuit is considered challenging &ndash; often
        covering exposed terrain, with much of it on uneven track surfaces. Reasonable
        fitness is required. Cold temperatures, snow, strong winds and heavy rain can
        occur at any time of the year. You must be self-sufficient and responsible for
        ensuring your own safety while walking.
      </li>
      <li>
        While the track can be walked year round, outside of the Great Walks season (late October to late April), it is no longer classed as an easy tramping track due to additional risk factors and walkers must have backcountry skills and experience.
      </li>
      <li>
        Please be aware there is still an increased volcanic risk following the eruption of the Te Maari Crater (near Ketetahi Shelter) in 2012. Please pay attention to signs. Consider taking an alternative route to avoid the volcanic hazard zone and plan transport accordingly.
      </li>
    </ul>

    <h3>
      Plan and prepare
    </h3>
    <ul>
      <li>
        Book your trip well in advance including your accommodation, transport and transfers to the start/end of the track.
      </li>
      <li>
        Safety is your responsibility - leave your trip details with a trusted contact. See <a href="http://adventuresmart.org.nz">adventuresmart.org.nz</a>.
      </li>
      <li>
        Weather on the track is changeable, so be prepared and check the forecast before you go. See <a href="http://www.metservice.com">metservice.com</a>. 
      </li>
      <li>
       A good level of fitness is required to walk the track. You can expect to walk up to 5 hours a day, depending on your fitness and weather conditions; and carry a pack of up to 15 kg for the whole length of the track.
      </li>
      <li>
        The right outdoor clothing, gear and equipment will greatly improve the enjoyment of your trip. Pack all necessary equipment, your own food and drinks (including an extra day’s supply) and personal effects.
      </li>
      <li>
        Food and drinks are not available for purchase at Great Walks huts and campsites.
      </li>
      <li>
        Cell phone coverage on the track is limited.
      </li>
    </ul>
    <h3>
      When to go
    </h3>
    <p>
      The Tongariro Northern Circuit can be walked in either direction. The safest and most popular time of year to walk the track is during summer (December – February) when the tracks are clear of snow and the weather is warmer.
    </p>
    <h3>
      What to bring
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack and plastic pack liner
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, <abbr title="including">incl.</abbr> high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
      <li>
        Torch/flashlight
      </li>
    </ul>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a campsite.
    </p>
    <p>
      For a comprehensive gear list, see <b>Plan &amp; Prepare</b> at <a href="http://www.greatwalks.co.nz/">Great Walks</a>.
    </p>
    <h3>
      Travelling with children
    </h3>
    <p>
      The circuit is a moderately challenging hike, mostly on open and exposed volcanic terrain and is not recommended for children under the age of 10. However, there are a range of shorter walking opportunities, suitable for the whole family and for those with less time available. You can do a walk of a few hours or a whole day, or an overnight stay in one of the huts or campsites.
    </p>
    
    <h3>
      DOC visitor centres
    </h3>
    <p>DOC Visitor Centres can help you plan and book your Great Walks experience. You can also pick up maps, brochures, gear and equipment, and other personal items that might be helpful for your trip.</p>

    <p><a href="http://www.doc.govt.nz/footer-links/contact-us/visitor-centres/">Find your nearest DOC Visitor Centre</a></p>
    