  
    <p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">
      
      <a class="hobbits" href="#" data-content="Journey to Middle Earth. Tongariro National Park provided the stunning
        backdrop for several filming locations for the Lord of the Rings trilogy
        including Ithilien, Mordor and the Gates of Mordor.">
          <img src="img/walks/tongariro-northern-circuit/dont-miss-hobbits.png" alt="Hobbits">
      </a>
      <a class="culture" href="#" data-content="Explore a Natural and Cultural World Heritage Area. Established in 1887,
        Tongariro is New Zealand&rsquo;s first national park and the first national park
        in the world to be gifted by a country's indigenous people.">
          <img src="img/walks/tongariro-northern-circuit/dont-miss-culture.png" alt="Culture">
      </a>
      <a class="lakes" href="#" data-content="Tama Lakes, named after the high chief Tamatea, explored the area six
        centuries ago. Take a detour off the main track to see these stunning lakes and enjoy the views.">
          <img src="img/walks/tongariro-northern-circuit/dont-miss-lakes.png" alt="Lakes">
      </a>
      <a class="volcanoes" href="#" data-content="Walk across active volcanoes! The three volcanoes at the heart of the park
        are Tongariro, Ngauruhoe and Ruapehu, the highest point in the North Island.">
          <img src="img/walks/tongariro-northern-circuit/dont-miss-volcanoes.png" alt="Volcanoes">
      </a>
      <a class="taranakifalls" href="#" data-content="Tumbling 20 metres over the edge of a large lava flow, which erupted from Ruapehu 15,000 years ago, Taranaki Falls plunge into a boulder-ringed pool. Allow
        2 hours for the return trip on the loop track.">
          <img src="img/walks/tongariro-northern-circuit/dont-miss-taranakifalls.png" alt="Taranaki Falls">
      </a>
    </p>