    <h3>
      Nearest airports
    </h3>
    <p>
        Taupo - 98 km, 1 hour
   </p>
    
    <p>
      Flights to this airport typically connect from Auckland and Wellington.
      The above driving times are indicative only - always allow for extra time to get to
      your destination.
    </p>
    <h3>
      How to get to the
      trailhead
    </h3>
    <p>
      Tongariro National Park is easy to get to from around the North Island.
      The Tongariro Northern Circuit is easily accessible from four trailheads,
      with Whakapapa Village, State Highway 48, Mount Ruapehu being the main entrance
      and exit point. 
    </p>
    <p>
      The following locations have parking areas or you can arrange shuttle transport through a
      tour operator. Whakapapa Village; the end of Mangatepopo Road; the end of Ketetahi Road;
      and just off the Desert Road (State Highway 1), 35 km south of Turangi.
    </p>
    <p>
      Located in the central North Island, the nearest towns are National Park Village,
      Turangi, Ohakune and Taupo, in addition to Whakapapa Village.
    </p>
    
    <h3>
      Transport and
      accommodation
    </h3>
    <p>
      <a href=
      "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/central-north-island/turangi-taupo/tongariro-northern-circuit/plan-and-prepare/guides-and-commercial-tourism-providers/">
      Guides and commercial tourism providers</a> - find accommodation,
      transport, and activities in the area.
    </p>