<h3>Start of the track</h3>

<p>Tongariro National Park is the closest national park to Auckland, New Zealand’s largest city, and is very accessible from State Highway 1. The Tongariro Northern Circuit can be accessed from the following locations:</p>

<ol>
  <li>Whakapapa Village (SH48). 3 hours walk to Mangatepopo Hut, 5–6 hours to Waihohonu Hut.</li>
  <li>Mangatepopo Road (SH47). 30 minutes walk to Mangatepopo Hut.</li>
  <li>Ketetahi Road (SH47). 2–3 hours walk to Ketetahi Shelter. Then a further, 3 hours to Oturere Hut. 5 hours to Mangatepopo Hut. Passes through volcanic hazard zone—see safety information.</li>
  <li>Desert Road (SH1, 35 km south of Turangi). 1 hour 30 minutes walk to Waihohonu Hut.</li>
</ol>

<h3>Road distances and times</h3>
<p>Taupo to Tongariro Northern Circuit – 98km / 1 hour</p>
<p>The above driving times are indicative only - always allow for extra time to get to your destination.</p>

<h3>Nearest airports</h3>
<p>Taupo is the nearest airport to the Tongariro Northern Circuit. 
<p>To make a flight booking visit <a href="http://www.airnewzealand.co.nz/home?gclid=COTD2eHFrroCFcs1pgod03oAqQ">Air New Zealand. Flights to any of these airports typically connect from Auckland or Wellington.

<h3>Transport and accommodation</h3>
<p><a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/central-north-island/turangi-taupo/tongariro-northern-circuit/plan-and-prepare/guides-and-commercial-tourism-providers/">Guides and commercial tourism providers</a> – find accommodation, transport, and activities in the area.