    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

    <h3>Track description</h3>

  <p>The Tongariro Northern Circuit can be walked in either direction. The track is well marked and signposted, but some sections may be steep, rough or muddy. Winter conditions make the track more challenging—see safety information. This guide describes a 4 day clockwise easy hike for independent, non-guided walkers starting and finishing at Whakapapa Village.

  <h4>Day 1: Whakapapa Village to Mangatepopo Hut</h4>
  <p><strong> 8.5 km, 3 hours (up to 5 hours in bad weather)</strong></p>
A highlight on your first day is seeing Pukekaikiore, thought to be one of the older vents of the Tongariro complex (a series of explosion craters, lava flows and volcanic cones and peaks). Ngauruhoe is a younger ‘parasitic’ cone on the side of Tongariro. To the left is Pukeonake, a small volcanic cone formed by the continuous eruption of scoria—small, pebble-sized volcanic lava that forms around a vent. For the last hour the track skirts around Pukekaikiore until it reaches the Mangatepopo Valley.

  <h4>Day 2: Mangatepopo Hut to Emerald Lakes</h4>
  <p><strong>8 km, 3 hours 30 minutes</strong></p>
The track follows Mangatepopo Stream up the valley, climbing over a succession of lava flows from Ngauruhoe. The youngest, very black lava flows were erupted from Ngauruhoe in 1949 and 1954. The steep climb required to reach the Mangatepopo Saddle rewards climbers with views of the valley and, if clear, Mt Taranaki to the west. At the top of Red Crater there is access to the Tongariro summit (1967 metres). Blue Lake is visible from this point. A scoria-covered ridge leads down to the Emerald Lakes. Their brilliant colouring is caused by minerals washed down from the thermal area of Red Crater.

<h4>Emerald Lakes to Oturere Hut</h4>
<p><strong> 4.8 km, 1 hour 30 minutes</strong></p>
The track descends steeply into the Oturere Valley, with views of the valley, the Kaimanawa Ranges and the Rangipo Desert. Unusual jagged lava forms along the track were created by early eruptions from Red Crater, which filled Oturere Valley. The Oturere Hut is nestled on the eastern edge of these flows.

<h4>Day 3: Oturere Hut to Waihohonu Hut</h4>
 <p><strong>7.5 km, 3 hours</strong></p>
After crossing a number of stream valleys and open gravel fields, the track gradually sidles around the foothills of Ngauruhoe, descending into a valley and crossing one of the branches of the Waihohonu Stream. It continues through a beech-clad valley before climbing towards the ridge top. Waihohonu Hut is in the next valley.

<h4>Day 4: Waihohonu Hut to Whakapapa Village</h4>
<p><strong>14.3 km, 5 hours</strong></p>
The track follows the Waihohonu Stream west, gradually climbing to Tama Saddle. On reaching the saddle, a track branches to the right to Tama Lakes. These beautiful lakes are explosion craters that have since been filled in with volcanic ash from eruptions from other vents and rain water. It is about 10 minutes walk to the lower lake, and a further 35 minutes up a steep ridge to the upper lake (allow 1 hour 30 minutes return to the main track). Whakapapa Village is approximately 2 hours from the Tama Lakes junction.