    <h3>Track description
    </h3>
    <p>
      The Tongariro Northern Circuit starts and finishes at Whakapapa Village,
      State Highway 48, Mount Ruapehu. You can walk the track in either direction - but
      normally you start at Mangatepopo, as the altitude (1120 metres) is higher than at
      Ketetahi (760 metres) so there is less climbing involved. Shuttle buses operate for
      walking in this direction, with services to Mangatepopo in the morning and back
      from Ketetahi in the afternoon. Allow an extra hour to walk the track in reverse
      from Ketetahi to Mangatepopo.
    </p>
    
    <p>
      <a href="{{map_filename}}" class="btn">View map</a>
    </p>

    <h3>Elevation profile
    </h3>
    <p>
      The altitude on this track varies - the lowest point is 1120 metres above sea
      level, the highest point is 1886 metres. Note the altitude level when you view the
      elevation profile!
    </p>
    
        <p><a href="#elevation-profile" id="elevation-profile-button" role="button" data-toggle="modal"><img src="{{elevation-profile-image}}" class="elevation-profile"></a></p>

    
    <h3>Walking guide</h3>
    
    <h4>
      Whakapapa Village to Mangatepopo Hut
    </h4>
    <p><strong>
      3 hours, 8.5 km</strong>
    </p>
    <p>
      Begin 100 metres below the Whakapapa Visitor Centre and head along the Taranaki
      Falls track where after 20 minutes you can choose to take a detour to the falls.
      Heavily eroded in some places, this track crosses many stream beds. Through here
      you can view the Pukekaikiore vent and the Pukeonake scoria cone, both of which
      were present during the last ice age.
    </p>
    
    <h4>
      Mangatepopo Hut to Emerald Lakes
    </h4>
    <p><strong>
      3.5 hours, 8 km</strong>
    </p>
    <p>
      Follow Mangatepopo stream up the valley and across a number of lava flows
      from Ngauruhoe, the youngest from a 1954 eruption. A five minute detour can take
      you to Soda Springs, where cold springs emerge from an old lava flow. The steep
      climb to the top of Mangatepopo Saddle will reward you with views across the
      valley. Cross the South crater, Red crater and North crater and follow the track
      down towards the Emerald Lakes, where you can see three filled explosion pits,
      brilliantly coloured by the minerals washed down from the thermal area.
    </p>
    
    <h4>
      Emerald Lakes to Ketetahi Hut
    </h4>
    <p><strong>
      1.5 hours, 4.2 km</strong>
    </p>
    <p>
      Cross the central crater and the climb up to the ridge beside Blue Lake,
      which has formed where fresh water fills an old volcano vent. The track continues
      around the North crater where views of Lake Rotoaira and Taupo can be seen. You can
      complete the Tongariro Alpine Crossing here by continuing on past the Ketetahi Hut,
      through tussock land down to the Ketetahi car park.
    </p>
    
    <h4>
      Ketetahi Hut to Oturere Hut
    </h4>
    <p><strong>
      1.5 hours, 4.8 km</strong>
    </p>
    <p>
      The Emerald Lakes track descends into the Oturere Valley and weaves through
      an endless variety of unusual jagged lava forms. A magical place to visit on a
      misty day. The hut has views of the waterfall from the ridge.
    </p>
    
    <h4>
      Oturere Hut to Waihohonu Hut
    </h4>
    <p><strong>
      3 hours, 7.5 km</strong>
    </p>
    <p>
      Trek over a number of streams valleys and open gravel fields. Plant growth
      here is repressed due to the high amount of volcanic activity and loose gravel.
      Travel around the foothills of Ngauruhoe, cross the Waihohonu Stream and continue
      through a beech-clad valley up to the ridge top.
    </p>
    
    <h4>
      Waihohonu Hut to Whakapapa Village
    </h4>
    <p><strong>
      5.5 hours, 14.3 km</strong>
    </p>
    <p>
      Follow the Waihohonu Stream and gradually climb towards Tama Saddle. Pick one
      of two side tracks to visit the Tama Lakes, two in-filled explosion craters. The
      lower track is a 10 minute walk while the upper lake is up a steep ridge and can
      take 1.5 hours. Whakapapa village is a 2 hour walk from the Tama Lakes
      junction.
    </p>
