    <p>
      DOC provides four huts and campsites on the Tongariro Northern
      Circuit.
    </p>
    
    <h3>Huts
    </h3>
    <p>
      Tongariro Northern Circuit huts have heating,
      toilets, bunks, mattresses, cooking facilities and cold running water. Note: huts
      do not provide lighting, pots and pans, cooking utensils, linen or food for
      purchase. Make sure you put these things on your checklist before you go.
    </p>
    
    
    <ul>
      <li>
        Ketetahi Hut: 26 bunks (note: this hut is closed for repairs for the
        2012/2013 season)
      </li>
      <li>
        Mangatepopo Hut: 20 bunks
      </li>
      <li>
        Oturere Hut: 26 bunks
      </li>
      <li>
        Waihohonu Hut: 28 bunks
      </li>
    </ul>
    <h3>Campsites
    </h3>
    <p>
      Campsites can be found adjacent to each of the huts and have a water supply
      and toilets. Facilities at the huts can be used while
      camping.
    </p>
<h3>
      Cost and booking
    </h3>
    <p>
      Fees are charged per person, per night to stay in huts and campsites.
    </p>
    <p>
      Bookings are essential! Use the <a href="https://booking.doc.govt.nz/Menu.aspx?sg=TNC">DOC online booking system</a> prior to travel or
      call <a href="tel:0800694732" class="btn phone"></a>0800 NZ GREATWALKS.
    </p>
