    <p>
      It is important to plan and prepare
      so that you are well equipped to enjoy your Great Walk.
    </p>
    
    
    <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    <h3>
      Lake Waikaremoana safety
    </h3>
    <ul>
      <li>
        This track is not recommended for children under the age of
        10 due to the exposed mountainous environment and
        possible adverse weather conditions.
      </li>
      <li>
        Lake Waikaremoana lies between altitudes of 600-1200 metres.
        Cold temperatures, snow, strong winds and heavy rain can occur at any time
        of the year. You must be self-sufficient and responsible for ensuring your own
        safety while walking.
      </li>
      <li>
        Cell phone coverage on the track is limited.
      </li>
    </ul>
    <h3>
      Things to know before you
      go
    </h3>
    <ul>
      <li>
        A good level of fitness and the right outdoor clothing and equipment will
        greatly improve the enjoyment of your trip.
      </li>
      <li>
        Safety is your responsibility - leave your trip details with a trusted
        contact. Intention forms are available at <a href=
        "http://adventuresmart.org.nz">adventuresmart.org.nz</a>.
      </li>
      <li>
        Book your trip well in advance including your accommodation, transport and
        transfers to the start/end of the Great Walk.
      </li>
      <li>
        Pack all necessary equipment, your own food and drinks and any personal
        items for your trip, including an extra day&rsquo;s supply of food and water.
        Food and drinks are not available for purchase at Great Walks huts and
        campsites.
      </li>
      <li>
        For a full list of equipment and preparation required for this walk, plus
        track updates for Lake Waikaremoana, please visit <a href=
        "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/east-coast/te-urewera/lake-waikaremoana-great-walk/plan-and-prepare/safety-information/">
        the DOC website</a>.
      </li>
    </ul>
    <h3>
      When to go
    </h3>
    <p>
      You can do this walk year-round but if you want to take advantage of the
      great swimming opportunities, you should go in summer (remember, that&rsquo;s
      December - February/March).
    </p>
    <h3>
      What to
      bring 
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
    </ul>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    <h3>Travelling with
      children
    </h3>
    <p>
      Lake Waikaremoana is a moderate walk and suitable for families with children.
      You can do part of the track on a water taxi or have part of your luggage
      transported that way.
    </p>
    <h3>Nearest DOC visitor
      centre
    </h3>
    <p>
      Aniwaniwa Visitor Centre
    </p>
    <p>
      Te Urewera National Park<br />
      State Highway 38 RD 5<br />
      Aniwaniwa<br />
      <a href="tel:+6468373900" class="btn phone"></a>+64 6 837 3900 (Great Walks bookings)<br>
      <a href="mailto:urewerainfo@doc.govt.nz" class="btn email">urewerainfo@doc.govt.nz</a>
    </p>
    
    <h4>
      Hours
    </h4>
    <p>
      Open daily 8:00 am - 5:00 pm
    </p>
    <h4>
      Services
    </h4>
    <p>
      Lake Waikaremoana Great Walks bookings, boat hire, hunting permits and
      recreation information for the area.
    </p>
