    <p>
      It is important to plan and prepare
      so that you are well equipped to enjoy your Great Walk.
    </p>
    
    
    <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    <h3>
      Lake Waikaremoana safety
    </h3>
    <ul>
      <li>
        This track is not recommended for children under the age of
        10 due to the exposed mountainous environment and
        possible adverse weather conditions.
      </li>
      <li>
        Lake Waikaremoana lies between altitudes of 600-1200 metres.
        Cold temperatures, snow, strong winds and heavy rain can occur at any time
        of the year. You must be self-sufficient and responsible for ensuring your own
        safety while walking.
      </li>
      <li>
        Cell phone coverage on the track is limited.
      </li>
    </ul>
    <h3>
      Plan and prepare
    </h3>
    <ul>
      <li>
        Book your trip well in advance including your accommodation, transport and transfers to the start/end of the track.
      </li>
      <li>
        Safety is your responsibility - leave your trip details with a trusted
        contact. Intention forms are available at <a href=
        "http://adventuresmart.org.nz">adventuresmart.org.nz</a>.
      </li>
      <li>
        Weather on the track is changeable, so be prepared and check the forecast before you go. See <a href="http://metservice.com">metservice.com</a>.
      </li>
      <li>
        A good level of fitness is required to walk the track. You can expect to walk up to 6 hours a day, depending on your fitness and weather conditions; and carry a pack of up to 15 kg for the whole length of the track.
      </li>
      <li>
        The right outdoor clothing, gear and equipment will greatly improve the enjoyment of your trip. Pack all necessary equipment, your own food and drinks (including an extra day’s supply) and personal effects.
      </li>
      <li>
        Food and drinks are not available for purchase at Great Walks huts and campsites.
      </li>
    </ul>
    <h3>
      When to go
    </h3>
    <p>
      You can do this walk year-round but if you want to take advantage of the
      great swimming opportunities, you should go in summer (remember, that&rsquo;s
      December - February/March).
    </p>
    <h3>
      What to
      bring 
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack and plastic pack liner
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
      <li>
        Torch/flashlight
      </li>
    </ul>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    <p>For a comprehensive gear list, see Plan & Prepare at <a href="http://www.greatwalks.co.nz">Great Walks</a>.</p>

    <h3>Travelling with
      children
    </h3>
    <p>
      Lake Waikaremoana is a moderate walk and suitable for families with children.
      You can do part of the track on a water taxi or have part of your luggage
      transported that way.
    </p>
    <h3>Nearest DOC visitor
      centre
    </h3>
    <p><a href="visitor-centre.html">Show nearest DOC visitor center</a>.</p>
    <p>DOC Visitor Centres can help you plan and book your Great Walks experience. You can also pick up maps, brochures, gear and equipment, and other personal items that might be helpful for your trip.
      <a href="http://www.doc.govt.nz/footer-links/contact-us/visitor-centres/">Find your nearest DOC Visitor Centre</a></p>
    <h4>
      Hours
    </h4>
    <p>
      Open daily 8:00 am - 5:00 pm
    </p>
    <h4>
      Services
    </h4>
    <p>
      Lake Waikaremoana Great Walks bookings, boat hire, hunting permits and
      recreation information for the area.
    </p>
