    <p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">
      
      <a class="counterclockwise" href="#" data-content="Walk the track counter-clockwise. This way you hit the Panekire Bluff, the
        biggest climb of the walk, when your pack will be lightest and your muscles will
        be all warmed up and used to the exercise.">
          <img src="img/walks/lake-waikaremoana/dont-miss-counterclockwise.png" alt="Counterclockwise">
      </a>
      <a class="falls" href="#" data-content="The Korokoro Falls are well worth the detour. This spectacular waterfall drops off a sheer cliff amidst native rain forest - very instagrammable!
            Take the side track from Korokoro Campsite to reach the falls (1 hour return trip).">
          <img src="img/walks/lake-waikaremoana/dont-miss-falls.png" alt="Falls">
      </a>
      <a class="awesomeviews" href="#" data-content="It's an exhilarating climb to Panekire Hut but once you reach the top of the bluff you'll be rewarded with awe-inspiring views of the lake and Te Urewera.">
          <img src="img/walks/lake-waikaremoana/dont-miss-awesomeviews.png" alt="Awesome Views">
      </a>
      <a class="notebook" href="#" data-content="If the weather is less than postcard-blue skies, remember that the remote Te Urewera is the home of Ng&#257;i T&#363;hoe, who call themselves Ng&#257; Tamariki o te Kohu - the children of the
        mist. When it’s cold and wet outside, snuggle up beside the hut’s fireplace, grab your guidebook and learn the Maori names of some of the native birds and trees that you might see along the track.">
          <img src="img/walks/lake-waikaremoana/dont-miss-notebook.png" alt="Notebook">
      </a>
      <a class="swimming" href="#" data-content="Take your swimming gear! The cool, crystal clear water will be superbly
        refreshing after a long day&rsquo;s walk. There are plenty of spots, and most of
        the huts and campsites have great swimming too.">
          <img src="img/walks/lake-waikaremoana/dont-miss-swimming.png" alt="Swimming">
      </a>

    </p>
