    <p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">
      
      <a class="counterclockwise" href="#" data-content="Walk the track counter-clockwise. This way you hit the Panekire Bluff, the
        biggest climb of the walk, when your pack will be lightest and your muscles will
        be all warmed up and used to the exercise.">
          <img src="img/walks/lake-waikaremoana/dont-miss-counterclockwise.png" alt="Counterclockwise">
      </a>
      <a class="falls" href="#" data-content="The Korokoro Falls are well worth the detour. This spectacular waterfall
        drops off a sheer cliff amidst native rain forest - very instagrammable!
        It&rsquo;s a 30 minute walk just before the suspension bridge.">
          <img src="img/walks/lake-waikaremoana/dont-miss-falls.png" alt="Falls">
      </a>
      <a class="awesomeviews" href="#" data-content="It's a 1185 metre climb up to Panekire Hut but you&rsquo;ll be rewarded with views of the ocean and the lake. Watch the sunrise through the goblin forest trees at the top.">
          <img src="img/walks/lake-waikaremoana/dont-miss-awesomeviews.png" alt="Awesome Views">
      </a>
      <a class="notebook" href="#" data-content="If the weather is less than postcard-blue skies, remember that the remote Te Urewera National Park has been home to the Ng&#257;i T&#363;hoe, the local
        Maori people, who call themselves Nga Tamariki o te Kohu - the children of the
        mist. If you&rsquo;re spending a rainy evening by the hut fireside, why not take
        a guidebook and make the most of the opportunity to learn the names of some
        plants or birds in Te Reo Maori?">
          <img src="img/walks/lake-waikaremoana/dont-miss-notebook.png" alt="Notebook">
      </a>
      <a class="swimming" href="#" data-content="Take your swimming gear! The cool, crystal clear water will be superbly
        refreshing after a long day&rsquo;s walk. There are plenty of spots, and most of
        the huts and campsites have great swimming too.">
          <img src="img/walks/lake-waikaremoana/dont-miss-swimming.png" alt="Swimming">
      </a>
      

    </p>
