<h3>Start of the track</h3>
You can access the start of the track from Onepoto or Hopuruahine Landing via the scenic Te Urewera Rainforest Route (State Highway 38):
This driving route has long sections of unsealed gravel road and winds its way through native rainforest and past small rural settlements. 
There is parking at the Waikaremoana Holiday Park and the nearby DOC Visitor Centre, which has information on transport to the track, including water taxis and shuttles.
<h3>Road distances and times</h3>
<ul>
  <li>Napier to Lake Waikaremoana - 180 km / 2 hours</li>
  <li>Wairoa to Lake Waikaremoana: 64 km, 1 hour</li>
  <li>Gisborne to Lake Waikaremoana – 169 km / 2-3 hours</li>
  <li>Rotorua to Lake Waikaremoana - 150 km / 3 hours 30 min. Note: The driving time is longer from Rotorua as State Highway 38 is unsealed for approximately 90 km from Murupara to Aniwaniwa.</li>
</ul>
<p>The above driving times are indicative only - always allow for extra time to get to your destination.</p>

    <h3>Nearest airports</h3>
    <p>
        Napier, Gisborne and Rotorua are the nearest airports to Lake Waikaremoana. 
To make a flight booking, please visit <a href="http://www.airnewzealand.co.nz/home?gclid=COTD2eHFrroCFcs1pgod03oAqQ">Air New Zealand</a>
        Flights to any of these airports typically connect from Auckland or Wellington. 
      </p>
    
    <h3>Transport and accommodation</h3>
    <p>
      <a href=
      "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/east-coast/te-urewera/lake-waikaremoana-great-walk/plan-and-prepare/guides-and-commercial-tourism-providers/">
      Guides and commercial tourism providers</a> - find accommodation,
      transport, and activities in the area
    </p>
