 <div class="text-column1 {{walk-id}}">
    <h1>
      Lake Waikaremoana
    </h1>
    <p class="info">
      <span class="days">3-4 days</span>
      <span class="duration">46 km</span>
      <a href="{{map_filename}}" class="icon-map">Map</a>
    </p>
    <p class="intro">
      Trace the shores of the beautiful Lake
      Waikaremoana, <a href="#" class="icon icon-lake"
      data-content="Lake Waikaremoana was formed only 2,200 years ago by a huge landslide which blocked a narrow gorge along the Waikaretaheke River. Water backed up behind this landslide to form a lake up to 248 metres deep. The lake edge has since been modified by a hydro electric development which lowered the level by 5 metres in 1946.">
      </a> the &ldquo;sea of rippling waters&rdquo;. Get a
      glimpse of how New Zealand used to be: explore the prehistoric rainforests, marvel
      at the giant podocarps, visit remote beaches and deepen your imagination with this
      Great Walk&rsquo;s rich spiritual and cultural history. Te Urewera
      <a href="#" class="icon icon-forest"
      data-content="Forming a protective green cloak, the vegetation shrouds the countless ridges and valleys. There are more than 650 types of native plant present in the park, some nationally rare. It was the remote nature of Te Urewera that for centuries sheltered the Tūhoe, the local Māori people. It provided an abundant source of food and supplies throughout the year. Tühoe spiritual and cultural traditions are closely linked with the forested hills of the park.">
      </a> is the spiritual home of Ng&#257;i
      T&#363;hoe. It also offers access to some of New Zealand&rsquo;s most
      iconic birds, including kiwi, kerer&#363; and k&#257;k&#257;.
    </p>
    <div class="youtube" data-youtube-id="{{youtube-id}}"></div>
    <div id="carousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        {{#carousel_thumbnails}}
          <div class="item {{active}}">
            <ul>
              {{#thumbnails}}<li><a href="#carousel-{{id}}" role="button" data-toggle="modal" style="background-image: url('{{{path}}}');"><img src="img/magnify-glass.png"></a></li>{{/thumbnails}}
            </ul>
          </div>
        {{/carousel_thumbnails}}
      </div>
      <a class="carousel-control left" href="#carousel" data-slide="prev">&#8249;</a>
      <a class="carousel-control right" href="#carousel" data-slide="next">&#8250;</a>
    </div>
</div>
<div class="below-fold">
    <div class="text-column1 {{walk-id}}">
        <!--#include file="don't-miss.mustache" -->
        <!--#include file="offers.mustache" -->   
        <!--#include file="before-you-go.mustache" -->   
        <!--#include file="getting-there.mustache" -->   
        <!--#include file="where-to-stay.mustache" -->   
        <!--#include file="on-the-track.mustache" -->   
    </div>
</div>
<div id="elevation-profile" style="width:98%;" class="modal hide fade horizscroll" tabindex="-1" role="dialog">
  <img src="{{{elevation-profile-image}}}" style="width:{{elevation-profile-image-width}}px; height:{{elevation-profile-image-height}}px; max-width:none; max-height:none">
</div>

{{#carousel}}
<div id="carousel-{{id}}" style="width:98%;" class="modal hide fade" tabindex="-1" role="dialog">
  <img src="{{path}}" style="width:100%">
</div>
{{/carousel}}
