
    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

    <h3>
      Track description
    </h3>
    <p>
      Lake Waikaremoana can be walked in either direction. This guide describes a
      clockwise route from Onepoto to Hopuruahine - however many people
      prefer walking the track counter-clockwise.
    </p>
    
    <p>
      There are a number of transport providers to assist you with pickups and
      dropoffs, either by road or water taxi. Please visit your friendly team at
      the Te Urewera National Park Visitor Centre or check
      the <a href=
      "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/east-coast/te-urewera/lake-waikaremoana-great-walk/plan-and-prepare/guides-and-commercial-tourism-providers/">
      directory of providers on the DOC website</a>.
    </p>
    
  
    <h3>Walking guide</h3>
    
    <h4>
      Day 1: Onepoto to Panekire Hut
    </h4>
    <p><strong>
      4-6 hours, 9 km</strong>
    </p>
    <p>
      This is the most strenuous part of the trip. The views from Panekire
      make it really worthwhile. The track starts from the Onepoto Shelter through the
      former Armed Constabulary Redoubt and climbs steadily up to the top of Panekire
      Bluff. It then follows the undulating ridgeline before reaching Puketapu Trig (1180
      metres) and onto Panekire Hut.
    </p>
    
    <h4>
      Day 2: Panekire Hut to Waiopaoa Hut
    </h4>
    <p><strong>
      3-4 hours, 8 km</strong>
    </p>
    <p>
      From Panekire Hut, the track heads south-west down the range to the top of
      the Panekire descent. From here the track drops steeply off the range into rolling
      valleys of beech, podocarp and k&#257;mahi forest
      and the lake. The Waiopaoa Hut makes a good stopping point for lunch. Have a
      relaxing afternoon and take the short walk up the side track from the Korokoro
      Campsite to the must-see waterfalls (2 hours return.)
    </p>
    
    <h4>
      Day 3: Waiopaoa Hut to Marauiti Hut
    </h4>
    <p><strong>
      4-5 hours, 12 km</strong>
    </p>
    <p>
      Day 3 sees the track head up the Waiopoa Stream a short distance before
      crossing grassy flats and heading through
      k&#257;nuka forest on the lake shore. The undulating track
      weaves up and over a number of small ridges, through young rimu
      wooded areas and along the lake edge. You can either stay at Marauiti, or
      push through to Waiharuru Hut - this is a great spot to stop for the night - at
      dusk go for a walk to the edge of Puketukutuku Peninsula
      where you may hear the call of the kiwi.
    </p>
    
    <h4>
      Day 4: Marauiti Hut to Hopuruahine
    </h4>
    <p><strong>
      4-5 hours, 11 km</strong>
    </p>
    <p>
      This is another moderate day of walking with plenty of fantastic photo
      opportunities. The track ends with a classic New Zealand suspension bridge.
    </p>
    
    <h4>
      Fantastic side trip
    </h4>
    <p>
      Spend an extra day at Waikaremoana and take a stroll up the hill from Te
      Urewera National Park Visitor Centre to explore another amazing lake - Lake
      Waikareiti. Hire a boat from the Visitor Centre at Aniwaniwa before departing to
      Lake Waikareiti and spend some time on the water.  Or row out to Rahui Island
      where you can take another short walk to enjoy the views of Lake Te
      Tamaiti-o-Waikaremoana. It&rsquo;s a lake on an island in a lake!
    </p>