
    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

    <p>
      Lake Waikaremoana is a circular track that can be walked in either direction.
      The track is well marked and signposted, but some sections may be steep, tough or muddy.
      This guide describes a 4-day hike from Onepoto to Hopuruahine for independent, non-guided walkers.
    </p>
    
    <h4>
      Day 1: Onepoto to Panekire Hut
    </h4>
    <p>
      <strong>4-6 hours, 9 km</strong>
    </p>
    <p>
      This is the most strenuous part of the trip.
      The views from Panekire make it really worthwhile.
      The track starts from the Onepoto Shelter and leads you through the former Armed Constabulary Redoubt Parade Ground before climbing steadily up to the top of Panekire Bluff.
      It then follows the undulating ridgeline before reaching Puketapu Trig (1180
      metres) and onto Panekire Hut.
    </p>
    
    <h4>
      Day 2: Panekire Hut to Waiopaoa Hut
    </h4>
    <p>
      <strong>3-4 hours, 8 km</strong>
    </p>
    <p>
      From Panekire Hut, the track heads south-west down the range to the top of
      the Panekire descent.
      From here the track drops steeply off the range into rolling
      valleys of beech, podocarp and k&#257;mahi forest
      and the lake.
    </p>
    
    <h4>
      Day 3: Waiopaoa Hut to Marauiti Hut
    </h4>
    <p>
      <strong>5 hours, 12 km</strong>
    </p>
    <p>
      Head up the Waiopaoa Stream a short distance before crossing grassy flats and heading through kanuka forest on the lake shore.
      The track, while undulating, weaves its way through rimu wooded areas and along the lake edge to Marauiti Hut.
      <ul>
        <li>Take a short walk (1 hour return) up the side track from Korokoro Campsite to the beautiful Korokoro Falls. This is a must-see!
        <li> Instead of staying at Marauiti Hut, you may like to continue to Waiharuru Hut -- take a walk at dusk to the edge of Puketukutuku Peninsula and listen and listen out for the call of kiwi.
      </ul>
    </p>
    
    <h4>
      Day 4: Marauiti Hut to Hopuruahine
    </h4>
    <p>
      <strong>4-6 hours, 17 km</strong>
    </p>
    <p>
      This is another moderate day of walking with plenty of fantastic photo
      opportunities and chances to relax beside the lakes edge.
      From Waiharuru Hut, the track climbs over the Pukehou ridge following the kiwi enclosure fence line all the way down to Tapuaenui Campsite. The track ends with a classic New Zealand suspension bridge.
    </p>

      <h5>
        Fantastic side trip
      </h5>
      <p>
        Spend an extra day at Waikaremoana and take a stroll up the hill from Te
        Urewera Visitor Centre to explore another amazing lake - Lake
        Waikareiti. Hire a boat from the Visitor Centre at Aniwaniwa before departing to
        Lake Waikareiti and spend some time on the water.  Or row out to Rahui Island
        where you can take another short walk to enjoy the views of Lake Te
        Tamaiti-o-Waikaremoana. It&rsquo;s a lake on an island in a lake!
      </p>
    
