    <p>
      DOC provides five huts and five campsites around Lake Waikaremoana.
    </p>
    <h3>
      Huts
    </h3>
    <p>
      The Lake Waikaremoana huts have bunks, mattresses, heating, cold
      water, cooking benches and vault toilets. Note: Huts do
      not provide lighting, pots and pans, cooking facilities, toilet paper, linen or
      food for purchase. Make sure you put these things on your checklist before you
      go.
    </p>
    
    <ul>
      <li>
        Panekire Hut: 36 bunks
      </li>
      <li>
        Waiopaoa Hut: 30 bunks
      </li>
      <li>
        Marauiti Hut: 26 bunks
      </li>
      <li>
        Waiharuru Hut: 40 bunks
      </li>
      <li>
        Whanganui Hut: 18 bunks
      </li>
    </ul>
    <h3>
      Campsites
    </h3>
    <p>
      Lake Waikaremoana campsites have cooking shelters, grassed tent
      sites, a water supply and toilets. Campers are not permitted to use the hut
      facilities.
    </p>
<h3>
      Cost and booking
    </h3>
    <p>
      Fees are charged per person, per night to stay in huts and campsites.
    </p>
    <p>
      Bookings are essential! Use the <a href="https://booking.doc.govt.nz/Menu.aspx?sg=LWM">DOC online booking system</a> prior to travel or
      call <a href="tel:0800694732" class="btn phone"></a>0800 NZ GREATWALKS.
    </p>
