    <p>
      <b>The Lake Waikaremoana huts</b> have bunks, mattresses, a water supply, sinks, toilets, hand-washing facilities and heating with fuel (firebox and wood).
      A DOC ranger may be present.
      Gas cooking, toilet paper and lighting is not provided so please ensure you carry your own gas cooker, toilet paper and torch.
      <b>$32 per adult per night; 17 years and under stay free.</b>
    </p>

    <p>
      <b>Great Walks campsites</b> offer basic facilities including toilets, sinks and a water supply. Some also have picnic tables and cooking shelters.
      <b>Great Walks campsites</b> can only be accessed on foot and are not accessible by vehicle or by boat.
    </p>

    <p>Bookings are essential all year round. Great Walks huts and campsites must be booked in advance. <a href="https://booking.doc.govt.nz/">Book online</a> or call <a href="tel:0800694732">0800 694 732</a>.
    </p>
    
