<p>It is <b>important</b> to plan
  and prepare so that you will be well equipped to enjoy your Great Walk.</p>

  <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
   


  <h3>Track safety</h3>

  <ul>
    <li>
      This track is not recommended for children under the age of 10 due to the exposed mountainous environment and often adverse weather conditions. An overnight stay at Moturau Hut is an option to include the whole family.
    </li>

    <li>
      Fiordland National Park lies in an area with high rainfall and changeable weather patterns. Cold temperatures, snow, strong winds and heavy rain can occur at any time of the year.
    </li>

    <li>
      While the track can be walked year round, outside of the Great Walks season (late October to late April), it is no longer classed as an easy tramping track due to additional risk factors (eg. avalanches), and walkers must have backcountry skills and experience.
    </li>

    <li>
      Fiordland National Park
      lies in an area of predominantly westerly airstreams, which delivers high rainfall
      and changeable weather patterns to the area. Cold temperatures, snow, strong winds
      and heavy rain can occur at any time of the year. Contact the
      Fiordland National Park Visitor Centre for current weather,
      track and avalanche conditions before departing.
    </li>
    
    <li>There is a risk of Giardia. Boil, filter or chemically treat water if you doubt its purity.</li>

  </ul>

   

  <h3>Plan and prepare</h3>

  <ul>
    <li>
    Book your trip well in advance including your accommodation, transport and transfers to the start/end of the track.
    </li>

    <li>
      Safety is your responsibility - leave your trip details with a trusted contact. See <a 
      href=
      "http://www.adventuresmart.org.nz/">adventuresmart.org.nz</a>.
    </li>

    <li>
      Weather on the track is changeable, so be prepared and check the forecast before you go. See <a href="http://metservice.com">metservice.com</a>.
    </li>

    <li>
      A good level of fitness is required to walk the track. You can expect to walk up to 6 hours a day, depending on your fitness and weather conditions; and carry a pack of up to 15 kg for the whole length of the track.
    </li>

    <li>
      The right outdoor clothing, gear and equipment will greatly improve the enjoyment of your trip. Pack all necessary equipment, your own food and drinks (including an extra day’s supply) and personal effects.
    </li>

    <li>
      Food and drinks are not available for purchase at Great Walks huts and campsites.
    </li>

    <li>
      Cell phone coverage on the track is limited.
    </li>

  </ul>

  <h3>When to go</h3>

  <p>The best time to walk the Kepler Track is during the Great Walks season from late October to late April when the weather is warmer and there are more regular transport services to and from the start and end of the track. During the off-peak season (May to October) the Kepler Track remains open but is subject to weather, track and avalanche conditions. </p>

   

  <h3>What to bring </h3>

  <p>Your basic equipment needs to include</p>

  <ul>
    <li>Backpack and plastic pack liner</li>

    <li>Sleeping bag and liner</li>

    <li>Portable cooking stove</li>

    <li>Cooking utensils</li>

    <li>Food, incl. high-energy food</li>

    <li>Waterproof rain jacket and overtrousers</li>

    <li>Warm/thermal clothing</li>

    <li>Hiking boots</li>

    <li>Map and compass</li>

    <li>Lighter and matches</li>

    <li>Drink bottle &amp; water</li>

    <li>Torch/flashlight</li>
  </ul>

  <p>Add camping gear to your list if you&rsquo;re staying at a
  campsite.</p>


  <p>For a comprehensive gear list, see Plan &amp; Prepare at <a href="http://greatwalks.co.nz">Great Walks</a>.

  <h3>Travelling with children</h3>

  <p>The Kepler Track offers great day walking options from the Kepler car park or Rainbow Reach, for families or those with limited time to explore the area. The walk from Rainbow Reach to Moturau hut on the shores of Lake Manapouri is particularly suitable for family groups. </p>


  <h3>DOC visitor centres</h3>

  <p>DOC Visitor Centres can help you plan and book your Great Walks experience. You can also pick up maps, brochures, gear and equipment, and other personal items that might be helpful for your trip.</p>

  <p><a href="http://www.doc.govt.nz/footer-links/contact-us/visitor-centres/">Find your nearest DOC Visitor Centre</a></p>
   
