    <p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">
      
      <a class="findkiwi" href="#" data-content="Listen out for the call of NZ’s iconic kiwi from Iris Burn Hut. Fiordland tokoeka (kiwi) can be heard on the Kepler Track. Largely nocturnal, it cannot fly, has loose, hair-like feathers and long whiskers.">
            <img src="img/walks/kepler-track/dont-miss-fiindkiwi.png" alt="findkiwi">
        </a>
        <a class="swingbridge" href="#" data-content="Swing bridges make for an entertaining journey over rivers and creeks. The Rainbow Reach swing bridge crosses the Waiau River and is an impressive entry/exit point for the track.">
            <img src="img/walks/kepler-track/dont-miss-swingbridge.png" alt="swingbridge">
        </a>
        <a class="caves" href="#" data-content="Explore an amazing limestone cave! Grab a couple of torches and take a 10 minute stroll from Luxmore Hut to Luxmore Caves. Just 30 metres into the cave you’ll find stalactites and stalagmites.">
            <img src="img/walks/kepler-track/dont-miss-caves.png" alt="Caves">
        </a>

        <a class="awesome-views" href="#" data-content="Watching the sunrise from Luxmore Hut allows you to take in splendid views of Lake Te Anau right across to the Murchison Mountains.">
            <img src="img/walks/kepler-track/dont-miss-awesome_views.png" alt="Awesome Views">
        </a>

        <a class="burnfalls" href="#" data-content="Take a 15 minute stroll from Iris Burn Hut to Iris Burn Falls. The falls are a great place for an icy cold swim to refresh you after a day’s walking!">
            <img src="img/walks/kepler-track/dont-miss-burnfalls.png" alt="Burn Falls">
        </a>

    </p>

  