<h3>Nearest
  airports</h3>

  <ul>
    <li>Queenstown - 174 km, 2 hours 30 min</li>

    <li>Invercargill - 159 km, 2 hours 20 min</li>
  </ul>

  <p>Flights to these airports typically connect from Auckland,
  Wellington and Christchurch. The above driving times are indicative only - always allow
  for extra time to get to your destination.</p>

  <h3>How to get to
  the trailhead</h3>

  <p>The Kepler Track is easily accessible from the Lake Te Anau control
  gates, either by road or a 45 minute walk from the Fiordland National Park Visitor
  Centre in Te Anau, or over the swing bridge across the Waiau River at Rainbow Reach. A
  shuttle bus also operates during the summer season to entry and exit points on the
  track and a scheduled boat service provides access to Brod Bay.</p>

  <h3>Transport and accommodation</h3>

  <p><a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/fiordland/eastern-fiordland/kepler-track/plan-and-prepare/guides-and-commercial-tourism-providers/">Guides and commercial tourism providers</a> - find accommodation, transport, and activities in the area.</p>
