<h3>Start of the track</h3>

<p>You can access the track from the following locations:</p>
<ol>
  <li>Kepler Track car park. 5 km drive from Te Anau.</li>
  <li>Fiordland National Park Visitor Centre. 50 minute walk along the lake front to the entrance of the track.</li>
  <li>Rainbow Reach car park. 12 km drive from Te Anau.</li>
</ol>
<p>Shuttle buses provide a daily service to the entry and exit points on the track during the Great Walks season. A scheduled boat service also offers transport to Brod Bay.</p>
<h3>Road distances and times</h3>
<p>Queenstown - 174 km / 2 hours 30 min</p>
<p>Invercargill - 159 km / 2 hours 20 min</p>

<p>These driving times are indicative only - always allow for extra time to get to your destination.</p>

<h3>Nearest airports</h3>
<p>Queenstown and Invercargill are the nearest airports to the Kepler Track.</p>
<p>To make a flight booking, please visit <a href="http://www.airnewzealand.co.nz/home?gclid=COTD2eHFrroCFcs1pgod03oAqQ">Air New Zealand</a>. Flights to these airports typically connect from Auckland, Christchurch or Wellington.

<h3>Transport and accommodation</h3>
<p><a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/fiordland/eastern-fiordland/kepler-track/plan-and-prepare/guides-and-commercial-tourism-providers/">Guides and commercial tourism providers</a> – find accommodation, transport, and activities in the area.