    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

<p>The Kepler Track is a circular track and can be walked in either direction. The track is well marked and signposted, but some sections may be steep, rough or muddy. Winter conditions make the track more challenging—see safety information. This guide describes a 4 day easy hike for independent, non-guided walkers.</p>

<h3>Day 1: Kepler Track car park to Luxmore Hut</h3>
<h4>13.8 km, 5–6 hours</h4>

<p>The track takes you through beech forest along the shore of Lake Te Anau, the largest body of fresh water in Australasia, to Brod Bay. From here a challenging climb takes you under impressive limestone bluffs, before emerging above the bush line to panoramic views of the Te Anau Basin and surrounding mountains. Luxmore Hut (1085 metres) is a 45 minute walk from the bush line.

<h3>Day 2: Luxmore Hut to Iris Burn Hut</h3>
<h4>14.6 km, 5–6 hours</h4>
<p>Start your day on top of the world. Departing the hut, climb to a ridge just below Mt Luxmore, with stunning views across the south fiord of Lake Te Anau to the Murchison Mountains—home of the rare, flightless takahe. A welcoming sight after a day on the tops, Iris Burn Hut is situated in a large tussock clearing. Listen for kiwi calling at night.</p>

<h3>Day 3: Iris Burn Hut to Moturau Hut</h3>
<h4>16.2 km, 5–6 hours</h4>
<p>Experience ever-changing scenery as the track takes you over a low saddle, then down past a large slip caused by heavy rain to Rocky Point. The track then winds through a gorge and lowland beech and podocarp forest, before reaching the shore of beautiful Lake Manapouri. The beachside Moturau Hut has stunning views of the lake.</p>

<h3>Day 4: Moturau Hut to the Kepler Track car park</h4>
<h4>15.5 km, 4–5 hours</h4>
<p>The last day is easy walking across a unique and fragile wetland. The track then follows the Waiau River terrace to the swing bridge at Rainbow Reach. You can leave the track here and catch a shuttle bus to Te Anau, or continue alongside the Waiau River to the Kepler Track car park.