    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>


<h3>Track description</h3>

  <p>The Kepler Track is a circular track that begins and ends at the
  Kepler Track carpark at the southern end of Lake Te Anau, about 5 km from Te Anau
  township. This well-graded track can be walked in either direction.</p>

  <p>Access is either by road or a 50 minute walk from the Fiordland
  National Park Visitor Centre. Alternatively, there is an entry point at Rainbow Reach,
  a 10 minute (12 km) drive from Te Anau.</p>

  <p>Shuttle buses provide a daily service to entry and exit points on
  the track from late October to late April. A scheduled boat
  service also offers transport to Brod Bay.</p>


<h3>Walking guide</h3>

  <h4>Day 1: Kepler Track car park to Luxmore Hut</h4>

  <p><strong>5-6 hours, 13.8 km</strong></p>

  <p>Walk alongside the lake shore through a forest of mountain and red
  beech, a grove of hard tree ferns and crown fern. Continue through to Coal Creek Bridge
  to arrive at Brod Bay which is a great spot for swimming. Climbing steadily for two hours, the track will lead you to
  limestone bluffs and a great place to lunch. Another hour&rsquo;s walking will reward
  you with panoramic views of the Te Anau Basin and the Takitimu, Snowden and Earl
  Mountains.</p>

  <h4>Luxmore Hut to Iris Burn Hut</h4>

  <p><strong>5-6 hours, 14.6 km</strong></p>

  <p>In heavy rain, strong winds or wintry weather wait at Luxmore Hut
  until the weather improves. From the hut, a gradual climb will take you to a ridge
  below the summit of Mount Luxmore and a side track walk of 10 minutes will take you to
  the 1472 m summit. After a climb over ridges for about 2 hours, the track starts to
  wind down through beautiful forest. A 20 minute walk from the Iris Burn Hut will lead
  you to Iris Burns Waterfall.</p>

  <h4>Iris Burn Hut to Moturau Hut</h4>

  <p><strong>5-6 hours, 16.2 km</strong></p>

  <p>Walk through beech forest and a gorge, climb over a low saddle and
  wander through another mixed species forest on your way to a large natural landslide,
  which was caused by excessive rain in 1984. As you near Lake Manapouri a left turn
  takes you through lowland beech and a podocarp forest through to Moturau Hut which is
  situated beside a beautiful beach.</p>

  <h4>Moturau Hut to Kepler Track car park</h4>

  <p><strong>4-5 hours, 15.5 km</strong></p>

  <p>A moderate walk will take you through a beech forest across
  wetland, follows the Waiau River Terrace to the swing bridge at Rainbow Reach. Follow
  the final part of the Kepler Track through a variety of forest and river views through
  to the Kepler Track car park. Along here are great opportunities for trout
  fishing!</p>
    