<p>DOC provides three huts and two campsites along the Kepler
  Track.</p>

  <h3>Huts</h3>

  <p>Kepler Track huts have heating, toilets, bunks, mattresses, basic
  cooking facilities, solar powered lighting and cold running water. Note: Huts do not
  provide pots and pans, cooking utensils, hot showers, linen, toilet paper or food for
  purchase. Make sure you put these things on your checklist before you go.</p>

   

  <ul>
    <li>Luxmore Hut: 54 bunks</li>

    <li>Iris Burn Hut: 50 bunks</li>

    <li>Moturau Hut: 40 bunks</li>
  </ul>


  <h3>Campsites</h3>

  <p>The Brod Bay and Iris Burn campsites have a water supply, cooking
  shelter and toilets. Open fires are only permitted where fireplaces are provided.
  Campers are not permitted to use the hut facilities.</p>

<h3>
      Cost and booking
    </h3>
    <p>
      Fees are charged per person, per night to stay in huts and campsites.
    </p>
    <p>
      Bookings are essential! Use the <a href="https://booking.doc.govt.nz/Menu.aspx?sg=KEP">DOC online booking system</a> prior to travel or
      call <a href="tel:0800694732" class="btn phone"></a>0800 NZ GREATWALKS.
    </p>

   
