    <p>
      It is important to plan and prepare
      to be well equipped to enjoy your Great Walk.
    </p>
    
     <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    
    <h3>
     Abel Tasman Track safety
    </h3>
    <ul>
      <li>
        
          Be sure
          to <a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/nelson-tasman/golden-bay/abel-tasman-coast-track/plan-and-prepare/tide-timetables/">consult a tide timetable</a> when planning your trip as Onetahuti and
          Awaroa estuaries on the track are only passable at low tide.
        
      </li>
      <li>
        
          While the Abel Tasman
          Coast is generally warm and dry in summer, remember it is a coastal environment
          which can change quickly so be prepared for rain, cold and windy
          conditions.
        
      </li>
      <li>
        Cell phone coverage on the track is limited.
      </li>
    </ul>
    
    <h3>
      Things to know before you go
    </h3>
    <ul>
      <li>
        
          A good level of fitness
          and the right outdoor clothing and equipment will greatly improve the enjoyment
          of your trip.
        
      </li>
      <li>
        
          Safety is your
          responsibility - leave your trip details with a trusted contact. Intention
          forms are available at <a href="http://adventuresmart.org.nz/Outdoors-Intentions/Default.asp">adventuresmart.org.nz</a>.
        
      </li>
      <li>
        
          Book your trip well in
          advance including your accommodation, transport and transfers to the start/end
          of the Great Walk.
        
      </li>
      <li>
        
       Pack all necessary
          equipment, your own food and drinks and any personal items for your trip
          including an extra day's supply of food and water.
        
      </li>
      <li>
        
       For a comprehensive
          equipment list and preparation required for this walk please
          visit <a
          href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/nelson-tasman/golden-bay/abel-tasman-coast-track/plan-and-prepare/what-to-take/">the DOC website</a>.
        
      </li>
    </ul>

    <h3>
      When to go
    </h3>
    <p>
      The track is open all year and is most popular during the peak season
      (October to April) when the weather is warmer and daylight hours are longer.
      Transport, activity, equipment and accommodation operators are available year
      round. Walking the track during the winter months (June - August) also has its
      advantages with fewer visitors, calmer water, hardly any insects and less water
      traffic.
    </p>
    
    <h3>What to bring 
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
    </ul>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    <h3>Travelling with children
    </h3>
    <p>
      The Abel Tasman Coast Track is an easy coastal walk for families with half or
      multi day options available. Visitors can walk into the park from the road end car
      parks, catch water taxis to beaches along the track or kayak along the
      coast.
    </p>
    
    <h3>Nearest DOC visitor centre
    </h3>
    <p>
      DOC Nelson Regional Visitor Centre<br>
      79 Trafalgar Street<br>
      Nelson 7010<br>
      <a href="tel:+6435469339" class="btn phone"></a>+64 3 546 9339<br>
      <a href="mailto:nelsonvc@doc.govt.nz" class="btn email">nelsonvc@doc.govt.nz</a>
    </p>
    <h4>Hours</h4>
    <p>
      Open daily 8:30 am - 4:30 pm
<br>
      Closed daily 12:00 pm - 1:00 pm
    </p>
    <h4>Services</h4>
    <p>
      Great Walks bookings and recreation information for the area.
    </p>
