    <p>
      It is <b>important</b> to plan and prepare
      to be well equipped to enjoy your Great Walk.
    </p>
    
     <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    
    <h3>Track safety</h3>
    <ul>
      <li>
        Consult a tide timetable when planning your trip as Onetahuti and Awaroa estuaries on the track are only passable at low tide. (See Abel Tasman 'Plan and Prepare' information at <a href="http://greatwalks.co.nz">greatwalks.co.nz</a> or contact the DOC Visitor Centres in Nelson, Motueka or Takaka.)
      </li>
      <li>
        While the Abel Tasman coast is generally warm and dry in summer, it is a coastal environment that can change quickly, so be prepared for rain, cold and windy conditions.
      </li>
    </ul>
    
    <h3>Plan and prepare</h3>

    <ul>
      <li>
          Book your trip well in advance including your accommodation, transport and transfers to the start/end of the track.
      </li>
      <li>
          Safety is your responsibility - leave your trip details with a trusted contact. See <a href="http://www.adventuresmart.org.nz/">adventuresmart.org.nz</a>.
      </li>
      <li>
         Weather on the track is changeable, so be prepared and check the forecast before you go. See <a href="http://metservice.com">metservice.com</a>.
      </li>
      <li>
        A good level of fitness is required to walk the track. You can expect to walk up to 6 hours a day, depending on your fitness and weather conditions; and carry a pack of up to 15 kg for the whole length of the track.
      </li>
      <li>
       The right outdoor clothing, gear and equipment will greatly improve the enjoyment of your trip. Pack all necessary equipment, your own food and drinks (including an extra day’s supply) and personal effects.
      </li>
      <li>
        Food and drinks are not available for purchase at Great Walks huts and campsites.
      </li>
      <li>
        Cell phone coverage on the track is limited.
      </li>
    </ul>

    <h3>
      When to go
    </h3>
    <p>
      The track is open all year and is most popular during the peak season (October to April) when the weather is warmer and daylight hours are longer. Transport, activity, equipment and accommodation operators are available year round. Walking the track during the winter months (June - August) also has its advantages with fewer visitors, calmer water, hardly any insects and less water traffic.
    </p>
    
    <h3>What to bring</h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack and plastic pack liner
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
      <li>
        Torch/flashlight
      </li>
    </ul>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>

    <p>For a comprehensive gear list, see <b>Plan &amp; Prepare</b> at <a href="http://www.greatwalks.co.nz/">Great Walks</a>.</p>

    <h3>Travelling with children</h3>
    <p>
      The Abel Tasman Coast Track is an easy coastal walk for families with half or multi day options available. Visitors can walk into the park from the road end car parks, catch water taxis to beaches along the track or kayak along the coast.
    </p>
    
    <h3>DOC visitor centres</h3>

    <p>DOC Visitor Centres can help you plan and book your Great Walks experience. You can also pick up maps, brochures, gear and equipment, and other personal items that might be helpful for your trip.
    <p><a href="http://www.doc.govt.nz/footer-links/contact-us/visitor-centres/">Find your nearest DOC Visitor Centre</a>.