    <p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">

      <a class="camping" href="#" data-content="The camping! Some people visit Abel Tasman National Park for a
        wonderful camping experience. There are campsites dotted all along the
        track, some right next to beautiful golden beaches.">
        <img src="img/walks/abel-tasman-coast-track/dont-miss-camping.png" alt="Camping">
      </a>

      <a class="cleopatraspool" href="#" data-content="
        Swim at Cleopatra&rsquo;s Pool, a natural rock pool with a moss-lined
        waterslide that is fit for a queen! From Torrent Bay estuary, a 20 minute walk
        takes you to this refreshing pool.">
        <img src="img/walks/abel-tasman-coast-track/dont-miss-cleopatraspool.png" alt="pool">
      </a>

      <a class="tongamarine-reserve" href="#" data-content="Tonga Island Marine Reserve is the third marine reserve to be created
        alongside a national park and covers an area of 1835 hectares. Swimming,
        snorkelling and kayaking are popular activities in the reserve.">
        <img src="img/walks/abel-tasman-coast-track/dont-miss-tongamarine-reserve.png" alt="marine">
      </a>

      <a class="awesomeviews" href="#" data-content="A 20 minute walk crosses a low ridge from Anchorage Hut to crescent-shaped Te Pukatea Bay. From there, a 1 hour walk with great views leads to Pitt Head, an
        old pa site, and back to Anchorage.">
        <img src="img/walks/abel-tasman-coast-track/dont-miss-awesomeviews.png" alt="walk">
      </a>

      <a class="swimming" href="#" data-content="Rest your weary walking feet at Onetahuti Beach. Shaped like a horseshoe, it&rsquo;s one of the longest and most beautiful beaches in the park. Swim, snorkel or soak up the sunshine!">
        <img src="img/walks/abel-tasman-coast-track/dont-miss-swimming.png" alt="Beach">
      </a>

      

 
      
    </p>
    