	<h3>
	Nearest airports
    </h3>
    <p>
      Nelson - 65 km, 1 hour
    </p>
    
    <p>
      Flights to this airport typically connect from Auckland, Wellington and
      Christchurch. The above driving times are indicative only - always allow for extra
      time to get to your destination.
    </p>
    <h3>
      How to get to the trailhead
    </h3>
    <p>
      The Abel Tasman Coast Track is accessible by road at four points, each with a
      carpark:
    </p>
    <ul>
      <li>
        Marahau, the southern gateway, is 67 km from Nelson on sealed
        road.
      </li>
      <li>
        Wainui is 21 km from Takaka. For the last 2 km, the road is
        unsealed.
      </li>
      <li>
        Totaranui is 32 km from Takaka. For the last 12 km, the road
        is unsealed.
      </li>
      <li>
        Awaroa estuary is 31 km from Takaka. The last 12 km of road
        is rough and unsealed. There are two fords, which flood after heavy rain. From
        the Awaroa carpark on the northern side of the estuary, it&rsquo;s 25 minutes of
        tidal walk to Awaroa hut and campsite, which are on the southern side of the
        estuary.
      </li>
    </ul>
    
    <p>
      The track is well serviced by public transport including buses/coaches and
      boat transport.
    </p>
    
    <p>
      Bus services operate in summer from Nelson and Motueka to the major road ends
      at Marahau and Kaiteriteri, and connect with Takaka transport to Totaranui and
      Wainui. Bookings are recommended. In winter, bus services operate daily to Marahau
      and Kaiteriteri but not so regularly to Wainui and Totaranui.
    </p>
    
    <p>
      Water taxis operate year round from Marahau and Kaiteriteri. The scheduled
      water taxi pick up locations are: Anchorage, Torrent Bay, Bark Bay, Onetahuti,
      Awaroa and Totaranui.
    </p>
    
        <h3>
      Transport and accommodation
    </h3>
    <p>
      <a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/nelson-tasman/golden-bay/abel-tasman-coast-track/plan-and-prepare/guides-and-commercial-tourism-providers/">
      Guides and commercial tourism providers</a> - find accommodation,
      transport, and activities in the area.
    </p>