    <ul>
      <li>
        <a href="http://bookings.bookitsecure.com/pub/supplier.aspx?b=DEPART"><img src="{{walk-image-directory}}doc-banner1.png" alt=""></a>
      </li>
      <li>
        <a href=
        "http://www.airnewzealand.co.nz/special-deals-new-zealand#special-deals-great-walks"><img src="{{walk-image-directory}}airnz-banner1.png" alt=""></a>
      </li>
    </ul>