
    <h3>Track description</h3>
    <p>
      The Abel Tasman Coast Track is an easy coastal walk for families with half or
      multi day options available. Visitors can walk into the park from the road end car
      parks, catch water taxis to beaches along the track or kayak along the
      coast.
    </p>
    
    <p>
      <a href="{{map_filename}}" class="btn">View map</a>
    </p>
    
    <h3>Elevation profile</h3>
    <p>
      The elevation of this track goes from sea level to about 150 m. The highest
      point on the track is between Whariwharangi Bay and Wainui Bay. Note the altitude
      level when you view the elevation profile.
    </p>

    <p><a href="#elevation-profile" id="elevation-profile-button" role="button" data-toggle="modal"><img src="{{elevation-profile-image}}" class="elevation-profile"></a></p>

    <h3>Walking guide</h3>
    <h4>
      Day 1: Marahau to Anchorage
    </h4>
    <p><strong>
      4 hours, 12.4 km
    </strong></p>
    <p>
      Cross the estuary over the Marahau causeway and follow the track through open
      country to Tinline Bay. Round Guilbert Point to Apple Tree Bay and pass through
      beech forest with large k&#257;nuka trees. After Yellow Point the track turns
      inland, winding in and out of several little gullies before emerging in open
      country that overlooks beautiful Torrent Bay. Descend to Anchorage Hut and
      Campsite.
    </p>
    
    <h4>
      Anchorage to Bark Bay
    </h4>
    <p><strong>
      High tide: 4 hours, 12.1 km.<br>
      Low tide: 3 hours, 8.4 km</strong>
    </p>
    <p>
      From Anchorage, cross a low ridge to Torrent Bay estuary. The estuary can be
      crossed within two hours either side of low tide or an all-tide track leads around
      it to Torrent Bay. At the northern end of Torrent Bay beach the track climbs
      steadily and then sidles around two valleys to Falls River, which is crossed by a
      47 metre suspension bridge. Beyond the river, the track meanders through lush coastal
      forest before leading back to the sea. Follow the track to the hut and campsite
      beside Bark Bay estuary.
    </p>
    
    <h4>
      Day 3: Bark Bay to Awaroa (tidal)
    </h4>
    <p><strong>
      4 hours, 11.4 km</strong>
    </p>
    <p>
      Cross Bark Bay estuary or follow the all-tide track (10 minutes) around the
      edge of the estuary and climb steeply to a saddle and journey through stands of
      m&#257;nuka. Return to the shore at Tonga Quarry with a short walk to Onetahuti
      Bay. The tidal stream can be crossed within 3 hours either side of low tide. The
      track then climbs over Tonga Saddle and descends to Awaroa Inlet. Follow the shore
      to Awaroa Hut and Campsite.
    </p>
    
    <h4>
      Day 4: Awaroa to Whariwharangi Bay (tidal)
    </h4>
    <p><strong>
      4.5 hours, 13 km</strong>
    </p>
    <p>
      Awaroa Inlet can only be crossed up to one and a half hours before low tide
      and up to two hours after it. The track crosses a low saddle and drops to
      Waiharakeke Bay before re-entering the forest and emerging at Goat Bay. Climb
       to a lookout above Skinner Point before descending to  the Totaranui
      Campsite. The track heads around Totaranui estuary, climbs over a low saddle and
      winds through lush forest to Anapai Bay. From here to Mutton Cove the scenery
      alternates between sandy beaches and rocky headlands of regenerating k&#257;nuka
      trees. Descend to Whariwharangi Bay, the hut and campsite are just behind the
      beach.
    </p>
    
    <h4>
      Day 5: Whariwharangi Bay to Wainui Bay
    </h4>
    <p><strong>
      1 hour, 5.5 km</strong>
    </p>
    <p>
      Follow a stream and climb out of the bay to a saddle overlooking Wainui
      Inlet. The track winds down to the shore and follows the estuary edge to the
      carpark.
    </p>
    
    <h4>
      Optional side tracks
    </h4>
    
    <p><strong>
      Te Pukatea Bay and Pitt Head<br>
      1 hour 20 min</strong>
    </p>
    <p>
      A 20 minute walk crosses a low ridge from Anchorage Hut to crescent shaped Te
      Pukatea Bay. From there, a one hour walk with great views leads to Pitt Head, an
      old pa site, and back to Anchorage.
    </p>
    
    <p><strong>
      Cleopatra's Pool<br>
      20 min</strong>
    </p>
    <p>
      From Torrent Bay estuary, a 20 minute walk leads up a stream bed of large
      boulders to Cleopatra's Pool.
    </p>
    
    <p><strong>
      Separation Point<br>
      1 hour</strong>
    </p>
    <p>
      From Mutton Cove a track leads to Separation Point, where fur seals
      breed. This track branches shortly before the Point to rejoin the coast track at
      the saddle above Whariwharangi Bay.
    </p>
    