    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

<p>The Abel Tasman Coast Track can be walked in either direction. The track is well marked and signposted, but some sections may be steep, rough or muddy. This guide describes a 4 day easy hike for independent, non-guided walkers who choose to walk the whole track from Marahau to Wainui Bay.</p>

<h3>Day 1: Marahau to Anchorage</h3>
<h4>12.4 km, 4 hours</h4>
<p>Cross the estuary over the Marahau causeway and follow the track through open country, then beech forest with large kanuka trees. The track eventually turns inland, winding in and out of several little gullies before emerging to a view of the beautiful Torrent Bay. Descend to Anchorage Hut and Campsite.</p>

<h3>Day 2: Anchorage to Bark Bay</h3>
<h4>High tide track: 12.1 km, 4 hours</h4>
<h4>Low tide crossing, Torrent Bay estuary: 8.4 km, 3 hours</h4>
<p>Torrent Bay estuary can be crossed within 2 hours either side of low tide, or you can take the all-tide track around it. An impressive 47 metre suspension bridge takes you over Falls River, then you’ll meander through lush coastal forest before being led back to the sea.</p>

<h3>Day 3: Bark Bay to Awaroa</h3>
<h4>11.4 km, 4 hours (tidal)</h4>
<p>Cross Bark Bay estuary or follow the all-tide track (10 minutes) around the edge of the estuary. A steep climb takes you through stands of manuka. Return to the coast at Tonga Quarry with a short walk to Onetahuti Bay. The track then climbs over Tonga Saddle and descends to Awaroa Inlet.

<h3>Day 4: Awaroa to Whariwharangi Bay</h3>
<h4>13.8 km, 4 hours 45 minutes (tidal)</h4>
<p>Awaroa Inlet can only be crossed up to 1 hour 30 minutes before low tide and up to 2 hours after it. Along the track, the scenery alternates between sandy beaches and rocky headlands of regenerating kanuka. Camp or stay in the hut just behind the beach.</p>

<h3>Day 5: Whariwharangi Bay to Wainui Bay</h3>
<h4>5.5 km, 1 hour 30 minutes</h4>

<p>Follow a stream and climb out of the bay to a saddle overlooking Wainui Inlet. The track winds down to the shore and follows the estuary edge to the car park.

<h3>Optional side trips</h3>
<p><b>Day 2:</b> <b>Te Pukatea Bay and Pitt Head – 1 hour 20 minutes.</b> Great views to Pitt Head, and visit an old pa site.</p>
<p><b>Day 2:</b> <b>Cleopatras Pool – 20 minutes.</b> Walk along a stream bed of large boulders to this secluded swimming spot.</p>
<p><b>Day 4:</b> <b>Separation Point – 1 hour.</b> From Mutton Cove, a track leads to this breeding ground for fur seals. The track rejoins the coast track at the saddle.</p>
<p><b>Days 3 &amp; 4:</b> Tidal track—consult a tide timetable before you set out.</p>

<h3>Elevation profile</h3>
<p>The elevation of this track goes from sea level to about 150m. The highest point on the track is between Whariwharangi Bay and Wainui Bay. Note the altitude level when you view the elevation profile.</p>