    <p>
      DOC provides four huts and eighteen campsites along the Abel Tasman Coast
      Track.
    </p>
    <h3>
      Huts
    </h3>
    <p>
      Abel Tasman Coast Track huts have heating, toilets, bunks,
      mattresses and cold running water. Note: Huts do not provide lighting, pots and
      pans, cooking utensils, linen or food for purchase. You will need carry your own
      portable gas cooker, lighter and spare fuel as there is no gas cooking provided at
      huts on the Abel Tasman Coast Track. Make sure you put these things on your
      checklist before you go.
    </p>
    
    <ul>
      <li>
        Anchorage Hut: 24 bunks
      </li>
      <li>
        Awaroa Hut: 26 bunks
      </li>
      <li>
        Bark Bay Hut: 34 bunks
      </li>
      <li>
        Whariwharangi Hut: 20 bunks
      </li>
    </ul>
    
    <h3>
      Campsites
    </h3>
    <p>
      Campsites offer basic facilities including toilets, sinks and a water supply.
      Some also have picnic tables and cooking shelters. Open fires are only permitted
      where fireplaces are provided. Campers are not permitted to use the
      hut facilities.
    </p>
    
    <p>
      Note: It is possible to arrange for
      luggage to be carried by boat between huts and campsites. If you choose this
      option, be prepared for a change in the weather and what this might mean for your
      luggage drop off (possibly in a different bay).
    </p>
    
    <h3>
      Cost and booking
    </h3>
    <p>
      Fees are charged per person, per night to stay in huts and campsites.
    </p>
    <p>
      Bookings are essential! Use the <a href="https://booking.doc.govt.nz/Menu.aspx?sg=ATC">DOC online booking system</a> prior to travel or
      call <a href="tel:0800694732" class="btn phone"></a>0800 NZ GREATWALKS.
    </p>
