<div id="new-zealand-map" style="display:none">
	<img src="img/new-zealand-map.png" alt="">
	<h2 class="map-location" style="right:34.9%;top:18.7%">Auckland</h2>
	<h2 class="map-location" style="right:20%;top:27.2%;">Rotorua</h2>
	<h2 class="map-location" style="left:68.8%;top:50.6%;"><a href="map-wellington.html" class="secret-link">Wellington</a></h2>
	<h2 class="map-location" style="left:37.8%;top:67.8%">Christchurch</h2>
	<h2 class="map-location" style="left:18.5%;top:82.4%">Queenstown</h2>
	<h2 class="map-location" style="left:17.4%;top:91.4%">Invercargill</h2>
	<a href="map-heaphy-track.html" class="map-location map-icon-left map-icon-height" style="left:34.5%;top:52.5%;">Heaphy Track</a>
	<a href="map-kepler-track.html" class="map-location map-icon-left map-icon-height" style="left:0%;top:83.5%;white-space:nowrap">Kepler Track</a>
	<a href="map-lake-waikaremoana.html" class="map-location map-icon-height3 map-icon-right" style="right:5%;top:24%">Lake Waikaremoana</a>
	<a href="map-milford-track.html" class="map-location map-icon-height map-icon-left" style="left:2%;top:77.6%">Milford Track</a>
	<a href="map-rakiura-track---stewart-island.html" class="map-location map-icon-height2 map-icon-left" style="left:4%;top:91%">Rakiura Track - Stewart Island</a>
	<a href="map-routeburn-track.html" class="map-location map-icon-height map-icon-left" style="left:5%;top:72.5%">Routeburn Track</a>
	<a href="map-tongariro-northern-circuit.html" class="map-location map-icon-height map-icon-right" style="right:20%;top:29.5%">Tongariro Northern Circuit</a>
	<a href="map-whanganui-journey.html" class="map-location map-icon-bottom2" style="left:55%;bottom:57%">Whanganui Journey</a>
	<a href="map-abel-tasman-coast-track.html" class="map-location map-icon-bottom" style="left:38%;bottom:50%">Abel Tasman<br> Coast Track</a>
</div>