    <p>
      It is important to plan and prepare
      so that you are well equipped to enjoy your Great Walk.
    </p>
    
    <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    <h3>
      Routeburn Track safety
    </h3>
    <ul>
      <li>
        
          The track may need to be
          closed for safety reasons (e.g. avalanche danger, flooding or high winds).
          The <a href=
          "http://www.doc.govt.nz/footer-links/contact-us/office-by-name/?mode=details&amp;office=1406">Fiordland
          National Park Visitor Centre</a> staff can keep you informed
          of all issues and options around these situations.
        
      </li>
      <li>
        
          This track is not
          recommended for children under the age of 10 due to the exposed mountainous
          environment and often adverse weather conditions. However, an overnight stay at
          Routeburn Flats, Routeburn Falls or Lake Howden huts is a great way for a
          family to experience part of the track.
        
      </li>
      <li>
        
          During the off-peak
          season (May - October) the track remains open but is subject to weather, track
          and avalanche conditions. Make sure you are fully prepared before you go. There
          are no DOC rangers in residence during the off-peak season.
        
      </li>
      <li>
        Fiordland and Mount
          Aspiring National Parks lies in an area of predominantly westerly airstreams,
          which delivers high rainfall and changeable weather patterns to the area. Cold
          temperatures, snow, strong winds and heavy rain can occur at any time of the
          year.
        
      </li>
      <li>
        Cell phone coverage on the track is limited.
      </li>
    </ul>
    
    <h3>
      Things to know before you
      go
    </h3>
    <ul>
      <li>
        
          A good level of fitness
          and the right outdoor clothing and equipment will greatly improve the enjoyment
          of your trip.
        
      </li>
      <li>
        
          Safety is your
          responsibility - leave your trip details with a trusted contact. Intention
          forms are available at <a href="http://adventuresmart.org.nz/Outdoors-Intentions/Default.asp">adventuresmart.org.nz</a>.
        
      </li>
      <li>
        
          Book your trip well in
          advance including your accommodation, transport and transfers to the start/end
          of the Great Walk.
        
      </li>
      <li>
        
          Pack all necessary
          equipment, your own food and drinks and any personal items for your trip
          including an extra day's supply of food and water.
        
      </li>
      <li>
        
          For a full list of
          equipment and preparation required for this walk, plus track updates for the
          Routeburn Track, please visit <a href=
          "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/fiordland/northern-fiordland/great-walks-in-fiordland/plan-and-prepare/what-to-take/">
          the DOC website</a>.
        
      </li>
    </ul>
    <h3>
      When to go
    </h3>
    <p>
      The best time to walk the Routeburn Track is from late October to late April when the weather is warmer and there are more
      regular transport services to and from the start and end of the track. During the
      off-peak season (May to October) the Routeburn Track remains open but is subject to
      weather, track and avalanche conditions.
    </p>
    
    <h3>
      What to
      bring 
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, including high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
    </ul>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    <h3>
 Travelling with
      children
    </h3>
    <p>
      The Routeburn Track is the perfect track for you, and your family and
      friends, if you love being amongst nature and want an exciting outdoors adventure
      on a track with excellent facilities. It also offers fantastic day walk
      opportunities for families or those with less time. However, the track is not
      recommended for children under the age of 10 due to the exposed mountainous
      environment and often adverse weather conditions. An excellent option for families
      keen to experience part of the track is an overnight stay at Routeburn Flats Hut,
      Routeburn Falls Hut or Lake Howden Hut.
    </p>
    
  <h3>Nearest DOC visitor centre</h3>

  <p>Fiordland National Park Visitor Centre
  Lakefront Drive<br>
  Te Anau<br>
  <a href="tel:+6432498514" class="btn phone"></a>+64 3 249 8514<br>
  <a href="mailto:greatwalksbookings@doc.govt.nz" class="btn email">Email Booking</a></p>

  <h4>Hours</h4>

  <p>Open daily 8:00 am - 5:00 pm</p>

  <h4>Services</h4>

  <p>Great Walks booking and recreation information for the
  area.</p>
