    <p>
      It is <b>important</b> to plan and prepare
      so that you are well equipped to enjoy your Great Walk.
    </p>
    
    <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>

    <h3>
      Track safety
    </h3>
    <ul>
      <li>This track is not recommended for children under the age of 10 due to the exposed mountainous environment and often adverse weather conditions. An overnight stay at Routeburn Flats, Routeburn Falls or Lake Howden huts is a suitable family option.</li>
      <li>Fiordland and Mount Aspiring National Parks lie in an area with high rainfall and changeable weather patterns. Cold temperatures, snow, strong winds and heavy rain can occur at any time of the year.</li>
      <li>The Routeburn Track is complex avalanche terrain and the risk of avalanche can extend into December. During the Great Walks season DOC manages this risk to a low level and walkers may be flown (at their cost) over dangerous sections.</li>
    </ul>
    
    <h3>
      Plan and prepare
    </h3>
    <ul>
      <li>
          Book your trip well in advance including your accommodation, transport and transfers to the start/end of the track.
      </li>
      <li>
        Safety is your responsibility - leave your trip details with a trusted contact. See <a href="http://adventuresmart.org.nz/">adventuresmart.org.nz</a>.
      </li>
      <li>
        Weather on the track is changeable, so be prepared and check the forecast before you go.
        See <a href="http://metservice.com">metservice.com</a>.
      </li>
      <li>
        
         A good level of fitness is required to walk the track. You can expect to walk up to 6 hours a day, depending on your fitness and weather conditions; and carry a pack of up to 15 kg for the whole length of the track.

      </li>
      <li>
        The right outdoor clothing, gear and equipment will greatly improve the enjoyment of your trip. Pack all necessary equipment, your own food and drinks (including an extra day’s supply) and personal effects.
        
      </li>
      <li>
        Food and drinks are not available for purchase at Great Walks huts and campsites.
      </li>
      <li>
        There is no cell phone coverage on the track.
      </li>
    </ul>
    <h3>
      When to go
    </h3>
    <p>
      The best time to walk the Routeburn Track is during the Great Walks season (*late October to late April) when the weather is warmer and there are regular transport services to and from the start and end of the track.
    </p>
    <p>
      In the Great Walks off-season (*late April to late October) facilities are greatly reduced (no gas for cooking, limited water supply, no rangers or emergency radio facilities) and there are additional safety hazards to consider.
    </p>
    <p>
      The winter environment in Fiordland is very cold and wet, with ice, snow and short daylight hours. Avalanche-prone bridges across some major watercourses are removed. DOC does not manage hazards such as flooding or avalanche.
    </p>
    <p>
      Walking the track at this time should only be attempted by fit, experienced and well-equipped people. For more information visit: <a href="http://www.doc.govt.nz/routeburntrack_winter">doc.govt.nz/routeburntrack_winter</a>. *Dates vary each year.
    </p>


    
    <h3>
      What to bring 
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack and plastic pack liner
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, including high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
      <li>
        Torch/flashlight
      </li>
    </ul>

    <p>
      Add camping gear to your list if you&rsquo;re staying at a campsite.
    </p>
    <p>For a comprehensive gear list, see <b>Plan &amp; Prepare</b> at <a href="http://www.greatwalks.co.nz">Great Walks</a>.</p>

    <h3>Travelling with children</h3>
    <p>
      The Routeburn Track is the perfect track for you, and your family and friends, if you love being amongst nature and want an exciting outdoors adventure on a track with excellent facilities. It also offers fantastic day walk opportunities for families or those with less time. 
    </p>
    <p>
      However, the track is not recommended for children under the age of 10 due to the exposed mountainous environment and often adverse weather conditions. An excellent option for families keen to experience part of the track is an overnight stay at Routeburn Flats Hut, Routeburn Falls Hut or Lake Howden Hut.
    </p>
    
  <h3>DOC visitor centres</h3>
  <p>DOC Visitor Centres can help you plan and book your Great Walks experience. You can also pick up maps, brochures, gear and equipment, and other personal items that might be helpful for your trip.</p>
  <p>Tickets must be collected from the Fiordland National Park Visitor Centre or the Queenstown Visitor Centre no more than 48 hours prior to starting the track.</p>
  <p><a href="http://www.doc.govt.nz/footer-links/contact-us/visitor-centres/">Find your nearest DOC Visitor Centre</a>.</p>
