    <p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">
      
      <a class="earlysteps" href="#" data-content="Follow in the footsteps of the ancient Tai Poutini iwi (tribe) who regularly walked the Routeburn Valley to the head of Lake Wakatipu in search of Pounamu (jade/greenstone), a prized stone used for tools, weapons and ornaments.">
          <img src="img/walks/routeburn-track/dont-miss-earlysteps.png" alt="Early steps">
      </a>
      <a class="mohua" href="#" data-content="Spot the endangered yellowhead / Mohua. This cute little songster is often perched high in the treetops. Listen out for its distinctive chirpy song!">
          <img src="img/walks/routeburn-track/dont-miss-mohus.png" alt="Mohua">
      </a>
      <a class="alpine-wetlands" href="#" data-content="A popular half-day walk, the Key Summit track climbs above the bush line to an alpine wetland and offers panoramic views over the Humboldt and Darran Mountains. ">
          <img src="img/walks/routeburn-track/dont-miss-alpine_wetlands.png" alt="Alpine wetlands">
      </a>
      <a class="awesome-views" href="#" data-content="Take a short, steep climb from Harris Saddle up Conical Hill for spectacular views of the Hollyford Valley through to Lake McKerrow and beyond. Allow 1-2 hours for the return trip.">
          <img src="img/walks/routeburn-track/dont-miss-awesome_views.png" alt="Awesome Views">
      </a>
      <a class="blacksmith" href="#" data-content="Gorge-ous! History buffs will love the old forge and blacksmiths camp. From here, a short track leads to the site which supported construction of the early bridle track.">
          <img src="img/walks/routeburn-track/dont-miss-blacksmith.png" alt="Blacksmith">
      </a>
   
    </p>
    