<p>The Routeburn Track is accessed by road from the following locations:</p>
<ol>
  <li> The Routeburn Shelter. 30 minute, 20 km drive along a partially unsealed road from Glenorchy.</li>
  <li>The Divide. 1 hour 30 minutes, 85 km from Te Anau./li>
</ol>
<p>The road distance between each end of the track is 350 km, so you’ll need to arrange transport at each end.</p>
<h3>Road distances and times</h3>
<p>Queenstown to Glenorchy: 48 km / 40 minutes</p>
<p>Queenstown to Te Anau: 197 km / 2 hours</p>
<p>The Divide to Milford Sound / Piopiotahi: 35 km / 45 minutes</p>
<p>These driving times are indicative only - always allow for extra time to get to your destination.</p>

<h3>Nearest airports</h3>
<p>Queenstown and Invercargill are the nearest airports to the Routeburn Track. To make a flight booking, please visit <a href="http://www.airnewzealand.co.nz/home?gclid=COTD2eHFrroCFcs1pgod03oAqQ">Air New Zealand</a>. Flights to these airports typically connect from Auckland, Christchurch or Wellington.</p>

<h3>Transport and accommodation</h3>
<p><a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/fiordland/northern-fiordland/routeburn-track/">Guides and commercial tourism providers</a> – find accommodation, transport, and activities in the area.Transport and accommodation