    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>


    <h3>
      Track description
    </h3>
    <p>
      The Routeburn Track can be walked in either direction. This guide describes
      an east to west direction, starting the track at the Routeburn Shelter and ending
      the track at The Divide - the beginning and end of the track are 350 km
      apart by road. Return transport can be pre-arranged to reach either end of the
      track from nearby towns.
    </p>
    
    
    <p>
      The Routeburn Track's highest point is Harris Saddle (1255 metres) and the lowest
      point is the Routeburn Shelter (start or finish point of the track) at 458 metres. At
      532 metres, The Divide (start or finish point of the track) is at a similar altitude, so
      it&rsquo;s often best to start your walk from the Routeburn Shelter so that the
      first part of your walk is uphill, which means you&rsquo;ll get to enjoy going
      downhill on the last part of your walk! Note the altitude level when you view the
      elevation profile.
    </p>
    
    <h3>Walking guide</h3>
    
    <h4>
      Routeburn Shelter to Routeburn Flats Hut
    </h4>
    <p><strong>
      1.5-2.5 hours, 6.5 km</strong>
    </p>
    <p>
      This journey begins at Routeburn Shelter, with a swing bridge crossing to a
      well-formed track that gently winds beside the crystal clear Route Burn. After
      passing Sugarloaf Stream, the track climbs to Bridal Veil Waterfall and continues
      above the gorge. A swing bridge leads to open, grassed flats and the Routeburn
      Flats Hut and Campsite.
    </p>
    
    <h4>
Routeburn Flats Hut to Routeburn Falls Hut
    </h4>
    <p><strong>
1-1.5 hours, 2.3 km</strong>
    </p>
    <p>
      From Routeburn Flats Hut, the track climbs steadily through stunning beech
      forest to Routeburn Falls Hut, situated on the edge of the bush line and close to
      the impressive Route Burn Falls cascade. Along the way, a recent slip provides an
      opportunity for views of the Routeburn Flats and the peaks of the Humboldt
      Mountains. Take care while crossing the slip, especially after heavy rains.
    </p>
    
    <h4>
Routeburn Falls Hut to Lake Mackenzie Hut
    </h4>
    <p><strong>
4.5-6 hours, 11.3 km</strong>
    </p>
    <p>
      Venture above the bush line and walk amidst the rugged sub-alpine landscape.
      Climb steadily up the valley, through wetlands and tussock-covered flats, before
      sidling along the bluffs above Lake Harris to reach the highest point on the track
      at Tarahaka Whakatipu / Harris Saddle (1255 m). Here a short, steep climb up
      Conical Hill gives superb views of the Hollyford Valley through to Whakatipu Waitai
      / Lake McKerrow, Martins Bay and the Tasman Sea. Allow 1 - 2 hours for the
      return trip back to Harris Saddle. From the saddle, the Routeburn Track descends
      and traverses along the exposed Hollyford Face, with expansive views over the
      Darran Mountains and beyond to the Tasman Sea. This section of the track is well
      known for its impressive array of alpine plants. A steady descent leads to the
      enchanting Lake Mackenzie. A short distance around the lake is Lake Mackenzie Hut
      and Campsite.
    </p>
    
    <h4>
Mackenzie Hut to Howden Hut
    </h4>
    <p><strong>
3-4 hours, 8.6 km</strong>
    </p>
    <p>
      Leaving Lake Mackenzie Hut, the track crosses a small flat before climbing to
      the bush line. A gradual descent then leads past the &lsquo;Orchard&rsquo;, an open
      grassy area dotted with ribbonwood trees, to the impressive Earland Falls (174 m).
      The track continues its gradual descent through beech forest to Lake Howden
      Hut.
    </p>
    
    <h4>
Lake Howden Hut to The Divide
    </h4>
    <p><strong>
1-1.5 hours, 3.4 km</strong>
    </p>
    <p>
      The track steadily climbs to meet with the Key Summit Track. Well worth the
      effort, the side trip to Key Summit heads above the bush line and meanders through
      an attractive alpine wetland. You will be rewarded with magnificent views of the
      Darran Mountains, Lake Marian and the Hollyford Valley. From the junction of
      the two tracks, the gradual downhill walk to The Divide is through charming silver
      beech forest.
    </p>
    