    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

<p>The Routeburn Track can be walked in either direction. The track is well marked and signposted, but some sections may be steep, rough or muddy. Winter conditions make the track more challenging. This guide describes a 3 day hike for independent, non-guided walkers.</p>
<h3>Day 1: Routeburn Shelter to Routeburn Flats Hut</h3>
<h4>6.5 km, 1 hour 30 minutes – 2 hours 30 minutes</h4>
<p>The track begins at Routeburn Shelter, gently winding alongside the crystal-clear Route Burn (river). After passing Sugarloaf Stream, the track climbs to Bridal Veil Waterfall and continues above the gorge. A swing bridge leads to open, grassed flats and the Routeburn Flats Hut and Campsite.</p>

<h3>Routeburn Flats Hut to Routeburn Falls Hut</h3>
<h4>2.3 km, 1 hour – 1 hour 30 minutes</h4>
<p>The track climbs steadily through stunning beech forest, providing views of the Humboldt Mountains. End the day at Routeburn Falls Hut, situated on the edge of the bush line and close to the impressive Route Burn Falls cascade.</p>

<h3>Day 2: Routeburn Falls Hut to Lake Mackenzie Hut</h3>
<h4>11.3 km, 4 hours 30 minutes – 6 hours</h4>
<p>Climb steadily up the valley, through wetlands and tussock-covered flats, before sidling along the bluffs above Lake Harris to reach the highest point on the track at Harris Saddle/Tarahaka Whakatipu (1255 metres). The track then descends and traverses along the exposed Hollyford Face, with expansive views over the Darran Mountains. This section of the track is well known for its impressive array of alpine plants. A steady descent leads to the enchanting Lake Mackenzie.</p>

<h3>Day 3: Lake Mackenzie Hut to The Divide</h3>
<h4>12 km, 4 hours – 5 hours 30 minutes</h4>
<p>Leaving Lake Mackenzie Hut, the track crosses a small flat before climbing to the bush line. A gradual descent then leads past the ‘Orchard’, an open grassy area dotted with ribbonwood trees, to the impressive Earland Falls (174 metres). The track continues its gradual descent through beech forest to Lake Howden Hut and on to The Divide, with the option of a side trip to Key Summit.</p>
