    <p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">

      <a class="birds" href="#" data-content="Kahurangi National Park is home to an abundance of native birds. Weka, tūī, kererū, kea, and kākā can be found along the way. With a bit of luck you might see, or at least hear, the great spotted kiwi and morepork.">
        <img src="img/walks/heaphy-track/dont-miss-birds.png" alt="birds">
      </a>
      
      <a class="flora" href="#" data-content="Fantastic flora! See huge podocarps and giant northern rātā in the lowland forest, a huge variety of alpine and subalpine species on the Gouland Downs and karaka, ngaio and nīkau palms in the coastal forest.">
          <img src="img/walks/heaphy-track/dont-miss-flora.png" alt="Flora">
      </a>

      <a class="heaphyhut" href="#" data-content="The Heaphy Hut is located right next to one of New Zealand’s oldest and most interesting archaeological sites – an ancient village situated on a nearby river bank, believed to have been settled by Polynesians in the 13th - 14th century.">
        <img src="img/walks/heaphy-track/dont-miss-heaphyhut.png" alt="Heaphy Hut">
      </a>

      <a class="mountainbiking" href="#" data-content="Get on your bike! You can mountain bike the track between 1 May and 30 September. It takes 2 – 3 days to ride.">
        <img src="img/walks/heaphy-track/dont-miss-mountainbiking.png" alt="Mountain Biking">
      </a>

      <a class="snails" href="#" data-content="Kahurangi National Park harbours half of New Zealand’s 40 species of powelliphanta (carnivorous land snail.) Look out for one on the track, particularly near limestone outcrops where there is enough calcium to nourish their sizeable shells!">
        <img src="img/walks/heaphy-track/dont-miss-snails.png" alt="Snails">
      </a>
    </p>
    
