    <h3>
      Nearest
      airports
    </h3>
    <ul>
      <li>
        Nelson - 156 km, 2 hours 30 min
      </li>
      <li>
        Westport - 115 km, 1 hour 45 min
      </li>
    </ul>
    
    <p>
      Flights to these airports typically connect from Auckland, Wellington and
      Christchurch. The above driving times are indicative only - always allow for extra
      time to get to your destination.
    </p>
    <h3>How to get to the
      trailhead
    </h3>
    <p>
      The Heaphy Track is not a circuit track; the start/end of the track at Brown
      Hut in Golden Bay and Kohaihai on the West Coast are 463 km apart by
      road.
    </p>
    
    <p>
      Air New Zealand flies into Nelson, the closest regional airport to the Brown
      Hut, and into Westport, the closest regional airport to Kohaihai. Brown Hut is 156
      km and a 2 hour 25 min drive from Nelson. Kohaihai is 110 km and a
      1 hour 45 min drive from Westport.
    </p>
    
    <h3>
      Transport and
      accommodation
    </h3>
    <p>
      <a href=
      "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/nelson-tasman/golden-bay/heaphy-track/plan-and-prepare/guides-and-commercial-tourism-providers/">
      Guides and commercial tourism providers</a> - find accommodation,
      transport, and activities in the area.
    </p>
