<h3>Start of the track</h3>
<p>You can start the Heaphy Track from the following locations:</p>
<ol>
  <li>Brown Hut, Golden Bay. From Collingwood, take the road up Aorere Valley to Brown Hut (28 km). Three small creeks must be crossed on the way—do not attempt to cross these when they are in flood. The fords may remain impassable for several days, blocking access to and from the track.</li>
  <li>Kohaihai, West Coast. From Karamea, head north to the car park and campsite at Kohaihai River (15 km).</li>
</ol>
<p>The ends of the track are 463 km apart by road, so you will need to arrange transport at each end.</p>
<p>Bus, taxi and air services are available to either end of the track (limited bus services operate in winter).</p>

<h3>Road distances and times</h3>
<p>Nelson - 156 km / 2 hours 30 min </p>
<p>Westport - 115 km / 1 hour 45 min</p>

<h3>Nearest airports</h3>
<p>Air New Zealand flies into Nelson, the closest regional airport to the Brown Hut, and into Westport, the closest regional airport to Kohaihai. To make a flight booking, please visit <a href="http://www.airnewzealand.co.nz/home?gclid=COTD2eHFrroCFcs1pgod03oAqQ">Air New Zealand</a>. Flights to these airports typically connect from Auckland, Wellington and Christchurch.</p> 

<h3>Transport and accommodation</h3>
<p><a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/nelson-tasman/golden-bay/heaphy-track/plan-and-prepare/guides-and-commercial-tourism-providers/">Guides and commercial tourism providers</a> – find accommodation, transport, and activities in the area.</p>