
    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

<p>The Heaphy Track can be walked in either direction. The track is well marked and signposted, but some sections may be steep, rough or muddy. This guide describes a 4 day hike for independent, non-guided walkers travelling from Brown Hut to Kohaihai.</p>

<h3>Day 1: Brown Hut to Perry Saddle Hut</h3>
<h4>17.5 km, 5 hours</h4>
<p>As you wind your way through bush, you’ll climb gradually, following a route once surveyed for a road. It’s 4 hours to Aorere Shelter, which affords views of Aorere Valley and on clear days Mt Taranaki/Egmont. A short track about 30 minutes before Perry Saddle Hut leads to a viewpoint at Flanagans Corner, the highest point on the track at 915 metres.
If you’re in need of cooling down, take a dip in the pool near the hut in Gorge Creek.</p>

<h3>Day 2: Perry Saddle to James Mackay Hut</h3>
<h4>24.2 km, 6 hours 30 minutes</h4>
<p>Sidle through tussock clearings and patches of beech. Where the valley widens, the featureless Gouland Downs open tussock area is revealed, which can be disorientating when the mist lowers. Pass the famed pole to which walkers before you have tied their old boots and on to Gouland Downs Hut. Rest up here, or continue on to James Mackay Hut, offering views of the Tasman Sea and Heaphy River mouth 750 metres below.</p>

<h3>Day 3: James Mackay Hut to Heaphy Hut</h3>
<h4>20.5 km, 6 hours</h4>

<p>Beech forest gives way to nīkau palms as you descend to the Heaphy River and Lewis Hut, where you’ll encounter the infamous West Coast sandflies! The track then crosses the Heaphy River and takes you through a forest of kahikatea, rimu and rata—be aware that in times of heavy rain, especially at high tide, sections of the track may be prone to flooding. Towards the river mouth, nikau palms become more common, and the sea’s incessant roaring grows louder.</p>

<p>The Heaphy River mouth is an exciting place. The river surges out through a narrow gap into the sea—incoming waves halt the flow, and the churning of salt and fresh waters is spectacular. In some conditions, small waves can even be seen running upriver!</p>

<h3>Day 4: Heaphy Hut to Kohaihai river mouth</h3>
<h4>16.2 km, 5 hours</h4>
<p>The track south to Kohaihai is through forests of rata, karaka trees, vines and groves of nikau palms. Soon Scotts Beach appears—the clearing here is a good spot to rest before climbing over Kohaihai Saddle. The track follows the bank of Kohaihai River for 400 metres to the car park.