
    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

    <h3>
      Track description
    </h3>
    <p>
      You can start the track from the eastern or western end - either from Brown
      Hut, Golden Bay or from Kohaihai, West Coast. This track is not a circuit &ndash;
      the beginning and end of the track are 463 km apart by road. Bus and taxi
      services are available to reach either end of the track from nearby towns. The
      track takes 4-6 days to walk, and 2-3 days to mountain bike.
    </p>
      
    <h3>Walking guide</h3>
    
    <h4>
      Day 1: Brown Hut to Perry Saddle Hut
    </h4>
    <p><strong>
      5 hours, 17.5 km</strong>
    </p>
    <p>
      Climbing gradually, here you will follow a route once surveyed for a road.
      Perry Hut Saddle is 880 metres above sea level. Near the hut in Gorge Creek is a deep
      and cold pool, popular for swimming.
    </p>
    
    <h4>
      Day 2: Perry Saddle Hut to Gouland Downs Hut
    </h4>
    <p><strong>
      2 hours, 7 km</strong>
    </p>
    <p>
      Passing through tussock clearings and patches of beech trees this track
      crosses one of several limestone arches which are the remnants of old caves.
    </p>
    
    <h4>
      Day 3: Gouland Downs Hut to Saxon Hut
    </h4>
    <p><strong>
      1.5 hours, 5.4 km</strong>
    </p>
    <p>
      Relatively level as it crosses the northern part of Gouland Downs, the
      tussock country and riverbeds make it great for exploring. Be careful when the mist
      lowers as the features can be confusing and it is easy to become
      disoriented.
    </p>
    
    <h4>
      Day 4: Saxon Hut to James Mackay Hut
    </h4>
    <p><strong>
      3 hours, 11.8 km</strong>
    </p>
    <p>
      Dropping slightly to grassy flats beside the Saxton River, a section of this
      track can flood. In wet conditions this can be potentially dangerous, and
      walkers should wait for the water to recede before continuing.
    </p>
    
    <h4>
      Day 5: James Mackay Hut to Lewis Hut
    </h4>
    <p><strong>
      3.5 hours, 12.5 km</strong>
    </p>
    <p>
      The track soon leads into the richer and taller forest typical of the West
      Coast. Glimpses of the Heaphy River can be spotted along the way. Be sure to apply
      the insect repellent as this is where the sand flies start to appear!
    </p>
    
    <h4>
      Day 6: Lewis Hut to Kohaihai
    </h4>
    <p><strong>
      7.5 hours, 24.2 km</strong>
    </p>
    <p>
      The track crosses the Heaphy River and continues through a forest of native
      kahikatea, rimu and rata. Be sure to listen out for the wildlife. The river mouth
      is at the junction of two pounamu (greenstone) trails with archaeological evidence
      that occupation from Maori extends back 500 years. At the Heaphy River mouth the
      river surges out through a narrow gap into the sea; the churning of fresh water
      with the sea water is spectacular! Crossing at Crayfish (Koura) Point can be
      impassable two hours either side of the high tide mark when conditions are rough.
      Check the tide timetable before you leave the hut.
    </p>