    <p>
      DOC provides seven huts and nine campsites on the Heaphy Track.
    </p>
    <h3>
      Huts
    </h3>
    <p>
      Heaphy Track huts have heating, toilets, bunks, mattresses and cold running
      water. Note: Huts do not provide lighting, pots and pans, cooking utensils, linen
      or food for purchase. Make sure you put these things on your checklist before you
      go.
    </p>
    
    <ul >
      <li>
        Brown Hut: 16 bunks
      </li>
      <li>
        Perry Saddle Hut: 28 bunks
      </li>
      <li>
        Gouland Downs Hut: 8 bunks
      </li>
      <li>
        Saxon Hut: 16 bunks
      </li>
      <li>
        James Mackay Hut: 26 bunks
      </li>
      <li>
        Lewis Hut: 20 bunks
      </li>
      <li>
        Heaphy Hut: 28 bunks
      </li>
    </ul>
    <h3>
      Campsites
    </h3>
    <p>
      Campsites can be found beside each of the huts except Lewis Hut. There are
      additional campsites at Aorere Shelter, Katipo Creek Shelter, Scotts Beach and
      Kohaihai. Campsites offer basic facilities including a water supply and toilets.
      Open fires are only permitted where fireplaces are provided.
    </p>
    
    <p>
      Campers are not permitted to use the hut facilities
    </p>

    <h3>
      Cost and booking
    </h3>
    <p>
      Fees are charged per person, per night to stay in huts and campsites.
    </p>
    <p>
      Bookings are essential! Use the <a href="https://booking.doc.govt.nz/Menu.aspx?sg=HEA">DOC online booking system</a> prior to travel or
      call <a href="tel:0800694732" class="btn phone"></a>0800 NZ GREATWALKS.
    </p>
    
