<p><b>The Heaphy Track huts</b> have bunks, mattresses, a water supply, toilets, hand-washing facilities and heating with fuel. They may also have a lighting source, basic cooking facilities with fuel and a DOC ranger may be present. <b>$32 per adult per night; 17 years and under stay free.</b></p>

<p><b>Great Walks campsites</b> offer basic facilities including toilets, sinks and a water supply. Some also have picnic tables and cooking shelters. Great Walks campsites can only be accessed on foot and are not accessible by vehicle.</p>

<p>Bookings are essential all year round. Great Walks huts and campsites must be booked in advance. <a href="https://booking.doc.govt.nz/">Book online</a>  or call <a href="tel:0800694732">0800 694 732</a>.</p>
