<div class="text-column1 {{walk-id}}">
	<h1>Wellington</h1>
    <a href="{{map_filename}}" class="icon-map">Map</a>
    <div class="youtube" data-youtube-id="{{youtube-id}}"></div>
</div>
<div class="below-fold">
    <div class="text-column1 {{walk-id}}">
        <p style="text-align:center"><a href="http://www.wellingtonnz.com/">WellingtonNZ.com</a></p>
    </div>
</div>
<!-- No elevation profile -->