    <p>
      It is important to plan and prepare
      so that you are well equipped to enjoy your Great Walk.
    </p>
     
<p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
     
     
    <h3>
      Rakiura
      Track safety
    </h3>
    <ul>
      <li>
       
          The weather is very
          changeable and difficult to predict. Walkers should come well-equipped and be
          prepared for all weather conditions, extreme weather can occur at any time of
          the year.
       
      </li>
      <li>
       
          Cell phone coverage is
          limited on the track. Telecom provides the only cell phone coverage on Stewart
          Island/Rakiura.
       
      </li>
    </ul>
     
    <h3>
      Things to know before you
      go
    </h3>
    <ul>
      <li>
       
          A good level of fitness
          and the right outdoor clothing and equipment will greatly improve the enjoyment
          of your trip.
       
      </li>
      <li>
       
          Safety is your
          responsibility - leave your trip details with a trusted contact. Intention
          forms are available at <a 
          href=
          "http://adventuresmart.org.nz/Outdoors-Intentions/Default.asp">adventuresmart.org.nz</a>.
       
      </li>
      <li>
       
          Book your trip well in
          advance including your accommodation, transport and transfers to the start/end
          of the Great Walk.
       
      </li>
      <li>
       
          Pack all necessary
          equipment, your own food and drinks and any personal items for your trip
          including an extra day's supply of food and water.
       
      </li>
      <li>
       
          For a full list of
          equipment and preparation required for this walk, plus track updates for the
          Rakiura Track, please visit <a href=
          "http://www.doc.govt.nz/parks-and-recreation/places-to-visit/southland/stewart-island-rakiura/stewart-island-rakiura/plan-and-prepare/"> the
          DOC website</a>.
       
      </li>
    </ul>
    <h3>
      When to go
    </h3>
    <p>
      The Rakiura Track is suitable for walking all year round. During the winter
      months the weather on Stewart Island/Rakiura is generally cool, yet settled, making
      this track a great opportunity to relax, unwind and immerse yourself in idyllic
      surroundings any time of the year.
    </p>
     
    <h3>
      What to
      bring 
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
    </ul>
     
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    <h3>Travelling with
      children
    </h3>
    <p>
      The Rakiura Track is an ideal walk for families and suitable for anyone with
      moderate fitness. It takes 3 days to walk the 32 km circuit.
    </p>
    <h3>
      Nearest DOC visitor
      centre
    </h3>
    <p>
      Rakiura National Park Visitor Centre<br>
      15 Main Road<br>
      Stewart Island<br>
      <a href="tel:+6432190009" class="btn phone"></a>+64 3 219 0009<br>
      <a href="mailto:rakiuravc@doc.govt.nz" class="btn email">rakiuravc@doc.govt.nz</a>
    </p>
    <h4>
      Hours
    </h4>
    <p>
      Mon - Fri: 8:00 am - 5:00 pm<br>
      Weekends: 9:00 am - 4:00 pm<br>
      Off-peak and public holidays: restricted hours
    </p>
    <h4>
      Services
    </h4>
    <p>
      Great Walks bookings and recreation information for the area.
    </p>
