<p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">

      <a class="birds" href="#" data-content="The amazing Stewart Island Rakiura Tokoeka/Kiwi (unlike their cousins further north) can sometimes be seen foraging during daylight hours near the North Arm hut and campsite and can be heard calling at day&rsquo;s end.">
        <img src="img/walks/rakiura-track---stewart-island/dont-miss-birds.png" alt="Birds">
      </a>
      <a class="boatride" href="#" data-content="Glorious tranquility is only a short boat ride or even shorter flight away. This is the ultimate island wilderness experience and a taste of the way New Zealand used to be. You’ll be welcomed by a cacophony of native birdsong and a warm greeting from the locals in the tiny settlement of Oban.">
          <img src="img/walks/rakiura-track---stewart-island/dont-miss-boatride.png" alt="Boat ride">
      </a>
      <a class="cliff-walfs" href="#" data-content="From this year-round accessible track, you can enjoy exhilarating cliff-top walking between Lee Bay and Port William with fabulous vistas of the island&rsquo;s gorgeous golden beaches and rugged coastline, and the protected bays of Paterson Inlet.">
        <img src="img/walks/rakiura-track---stewart-island/dont-miss-cliff_walfs.png" alt="Cliff Walks">
      </a>
      <a class="island-sanc" href="#" data-content="Ulva Island, a predator-free island sanctuary, is just a short 5 minute water taxi ride from Oban, the island&rsquo;s only township. Explore this island
        paradise, home to many rare and endangered native birds.">
        <img src="img/walks/rakiura-track---stewart-island/dont-miss-island_sanc.png" alt="Island Sanctury">
      </a>
     <a class="cultural-points" href="#" data-content="Into history? Then you&rsquo;ll find plenty here from early Māori settlement sites around Māori beach and Port William and the abandoned Shetland Islanders&rsquo; settlement to old log haulers and other relics from the sawmilling days dispersed along the track.">
        <img src="img/walks/rakiura-track---stewart-island/dont-miss-cultural_points.png" alt="Cultural Points">
      </a>
</p>