<p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">

      <a class="birds" href="#" data-content="Spot a kiwi in the wild! Walking in the footsteps of the Rakiura tokoeka / kiwi is a reality when walking the Rakiura Track. Kiwi footprints and probe holes are evident as are the vocal calls of the kiwi that can be heard at night.">
        <img src="img/walks/rakiura-track---stewart-island/dont-miss-birds.png" alt="Birds">
      </a>
      <a class="boatride" href="#" data-content="Glorious tranquillity is only a short boat ride or even shorter flight away! Stewart Island/Rakiura is the ultimate island wilderness experience. You’ll be welcomed by a cacophony of native birdsong and warm greeting from the friendly locals in the tiny settlement of Oban and the start of your Great Walk adventure!">
          <img src="img/walks/rakiura-track---stewart-island/dont-miss-boatride.png" alt="Boat ride">
      </a>
      <a class="cliff-walfs" href="#" data-content="From this year-round accessible track you can experience exhilarating cliff-top walking between Lee Bay and Port William/Potirepo. Enjoy fabulous vistas of the island’s gorgeous golden beaches and rugged coastline, and the sheltered bays of Paterson Inlet.">
        <img src="img/walks/rakiura-track---stewart-island/dont-miss-cliff_walfs.png" alt="Cliff Walks">
      </a>
      <a class="island-sanc" href="#" data-content="Ulva Island, a predator-free sanctuary, is a short water taxi ride from Oban. Explore another island paradise home to many of New Zealand’s rare and endangered native birds.">
        <img src="img/walks/rakiura-track---stewart-island/dont-miss-island_sanc.png" alt="Island Sanctury">
      </a>
     <a class="cultural-points" href="#" data-content="Into history? Then you’ll find plenty here from early Maori settlement sites around Maori Beach and Port William/Potirepo to log haulers and sawmilling relics dispersed along the track.">
        <img src="img/walks/rakiura-track---stewart-island/dont-miss-cultural_points.png" alt="Cultural Points">
      </a>
</p>