    <h3>
      Nearest airport
    </h3>
    <p>
      Invercargill - 65 km <br/> 
      To get to Stewart Island/Rakiura you can
      either choose to catch a 20 minute flight from Invercargill or you can drive from
      Invercargill to Bluff (20 minutes) and then catch a 1 hour ferry to the
      island&rsquo;s main township, Oban.
    </p>
     
    <p>
      Flights to this airport typically connect from Auckland, Christchurch and
      Wellington. The above driving times are indicative only - always allow for extra
      time to get to your destination.
    </p>
    <h3>
      How to get to the trailhead
    </h3>
    <p>
      Rakiura Track is situated on New Zealand's Stewart Island/Rakiura, just a 20
      minute flight from Invercargill or an hour by ferry from Bluff. The track begins at
      Lee Bay, the official entrance to Rakiura National Park.
    </p>
     
    <h3>
      Transport and accommodation
    </h3>
    <p>
      <a  href=
      "http://www.doc.govt.nz/parks-and-recreation/places-to-visit/southland/stewart-island-rakiura/stewart-island-rakiura/plan-and-prepare/guides-and-commercial-tourism-providers/">
      Guides and commercial tourism providers</a> - find accommodation,
      transport, and activities in the area.
    </p>