<p>The Rakiura Track can be walked in either direction, starting from two locations:</p>
<ol>
  <li>The official entrance to Rakiura National Park at Lee Bay, 5 km from Oban.</li>
  <li>The Fern Gully car park, 2 km beyond the Rakiura National Park Visitor Centre, which is located on Main Road in Oban.</li>
</ol>
<p>To get to Oban, the only township on Stewart Island/Rakiura, you can take a 20 minute flight from Invercargill or a 1 hour ferry trip across Foveaux Strait from the southern port of Bluff.</p>
<p>In Oban you’ll find accommodation, supplies, equipment hire and transport to and from the start of the track.</p>

<h3>Road distances and times</h3>
<p>Invercargill - 65 km / 1 hour - to get to Stewart Island/Rakiura you can either choose to catch a 20 minute flight from Invercargill or you can drive from Invercargill to Bluff (20 minutes) and then catch a 1 hour ferry to the island’s main township, Oban.</p>
<h3>Nearest airports</h3>
<p>Invercargill is the nearest airport to the Rakiura Track. To make a flight booking, please visit <a href="http://www.airnewzealand.co.nz/home?gclid=COTD2eHFrroCFcs1pgod03oAqQ">Air New Zealand</a>. Flights to any of these airports typically connect from Auckland, Christchurch or Wellington.

<h3>Transport and accommodation</h3>
<p><a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/east-coast/te-urewera/lake-waikaremoana-great-walk/plan-and-prepare/guides-and-commercial-tourism-providers/">Guides and commercial tourism providers</a> – find accommodation, transport, and activities in the area.