    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>


    <h3>
    Track description
    </h3>
    <p>
      The Rakiura Track is a 32 km circuit and can be walked in either direction.
      It can comfortably be walked in three days for anyone with a moderate level of
      fitness. Shuttle services are available from the island&rsquo;s township of Oban to
      the start/end of the track.
    </p>
     
   
    <h3>Walking guide</h3>

    <h4>Halfmoon Bay to Port William Hut
    </h4>
    <p><strong>4-5 hours, 12 km</strong>
    </p>
    <p>
      Step through the chain link sculpture commissioned to recognise the forming
      of the Rakiura National Park, to start your island adventure. Enjoy stunning
      coastal views as the track makes its way from Lee Bay to picturesque Little River,
      which is crossed by bridge. Rounding the tip of Peters Point brings you to Maori
      Beach, once home to several sawmills and a school. An old boiler is all that
      remains of a once thriving sawmilling community. From here it is a sweeping beach
      walk to the swing bridge before climbing up the forested ridge and dropping down
      into Magnetic Beach and Port William Hut at the far end.
    </p>
     
    <h4>
    Port William Hut to North Arm Hut
    </h4>
    <p><strong>
    6 hours, 13 km</strong>
    </p>
    <p>
      Make your way through regenerating podocarp forest and then dense bush as you
      leave the east coast behind you. Take a breather at the old log haulers that used
      to drag the forest giants out of the gullies and hillsides, travel down the
      tramlines which both show remnants of a bygone world, and reflect on the hardy
      settlers who worked the saws to retain a livelihood.
    </p>
     
    <h4>
    North Arm Hut to Halfmoon Bay
    </h4>
    <p><strong>
   4-5 hours, 12 km</strong>
    </p>
    <p>
      From here it&rsquo;s a moderate and undulating walk in the forest fringe
      consisting of k&#257;mahi and rimu surrounded by stunning views across Paterson
      Inlet/Whaka a Te Wera. Follow the coast down to secluded bays, watch the birds
      wading at low tide in Sawdust Bay and then on to Kaipipi Bay where a small grassy
      knoll on the water&rsquo;s edge allows a great perspective over the sheltered
      waterway.
    </p>