    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

<p>The Rakiura Track is a circular track and can be walked in either direction. The track is well marked and signposted, but some sections may be steep, rough or muddy. This guide describes a 3 day easy hike starting from Lee Bay for independent, non-guided walkers.</p>
<h3>Day 1: Lee Bay car park to Port William Hut</h3>
<h4> 8.1 km, 3 – 4 hours</h4>
<p>Step through the chain link sculpture commissioned to recognise the forming of the Rakiura National Park to start your island adventure. Enjoy stunning coastal views as the track makes its way from Lee Bay to picturesque Little River. Rounding the tip of Peters Point brings you to Maori Beach. From here it is a sweeping beach walk to the swing bridge before climbing up the forested ridge and dropping down into Magnetic Beach and Port William Hut.</p>
<h5>Timber milling at Maori Beach </h5>
<p>A bustling timber mill operated here from 1913 until 1931. The wharf, mill houses and school are long gone—abandoned machinery and tramlines are all that remain of the once thriving community.</p>
<h4>Day 2: Port William Hut to North Arm Hut 13 km, 6 hours</h4>
<p>Say farewell to the east coast as you make your way through beautiful regenerating podocarp forest, as well as lush and dense virgin forest. Take a breather at the log haulers: massive machines that were used to drag forest giants from the depths of the gullies. The track descends to North Arm, an important food gathering (mahinga kai) site for early Maori, on the shore of Paterson Inlet/Whaka a Te Wera.</p>
<h5>Port William/Potirepo</h5>
<p>This port has a colourful past. Whalers, sealers and later oyster fishermen have all earned their livings here. However, a small settlement of Shetland Islanders, whose fishing methods were unsuccessful here, lasted just 12 months.</p>
<h3>Day 3: North Arm Hut to Fern Gully car park</h3>
<h4> 11 km, 4 – 4 hours 30 minutes</h4>
<p>A moderate and undulating walk takes you through kamahi and rimu with stunning vistas across the inlet. It then follows the coast down to secluded bays and is interspersed with historic mill sites. Sawdust Bay has tidal mudflats, making it a great spot to watch wading birds feeding at low tide. Then it is on to Kaipipi Bay, where a small grassy knoll on the water’s edge provides a view across the sheltered waterway.</p>
<p>The track ends at the Main Road and from there it is 2 km to Oban.</p>