    <p>
      DOC provides two huts and three campsites along the Rakiura Track.
    </p>
    <h3>
      Huts
    </h3>
    <p>
      The Rakiura Track huts provide heating, toilets, bunks,
      mattresses and cold running water. Note: Huts do not provide pots and
      pans, cooking utensils, hot showers, linen, toilet paper or food and drinks for
      purchase. Make sure you put these things on your checklist before you go.
    </p>
     
    <ul>
      <li>
        Port William Hut: 24 bunks
      </li>
      <li>
        North Arm Hut: 24 bunks
      </li>
    </ul>
    
    <h3>
      Campsites
    </h3>
    <p>
      Each hut has a camping site nearby and there is an additional campsite at
      Maori Beach. Campsites offer basic facilities including a water supply, cooking
      shelter and toilets. Campers are not permitted to use the hut
      facilities.
    </p>
<h3>
      Cost and booking
    </h3>
    <p>
      Fees are charged per person, per night to stay in huts and campsites.
    </p>
    <p>
      Bookings are essential! Use the <a href="https://booking.doc.govt.nz/Menu.aspx?sg=RAT">DOC online booking system</a> prior to travel or
      call <a href="tel:0800694732" class="btn phone"></a>0800 NZ GREATWALKS.
    </p>
