<p><b>The Rakiura Track huts</b> have bunks, mattresses, heating, toilets, and cold running water. A DOC ranger may be present. These huts do not provide cooking facilities, cooking utensils, linen, showers or toiler paper. <b>$22 per adult per night; 17 years and under stay free.</b></p>
<p><b>Great Walks campsites</b> offer basic facilities including toilets, sinks and a water supply. Some also have picnic tables and cooking shelters. Great Walks campsites can only be accessed by foot and are not accessible by vehicle.
Bookings are essential all year round. Great Walks huts and campsites must be booked in advance. <a href="https://booking.doc.govt.nz/">Book online</a> or call <a href="tel:0800694732">0800 694 732</a>.</p>