    <p>
      It is important&nbsp;to plan and prepare
      so that you are well equipped to enjoy your Whanganui Journey.
    </p>
    
     <p>
      Before you go, know <strong>The Outdoor Safety Code</strong> - 5 simple rules to help you stay
      safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>
    <h3>
      Whanganui Journey safety
    </h3>
    <ul>
      <li>
        Heavy rain and flooding can occur at any time of year on the Whanganui
        River and the weather can change quickly, so you&rsquo;ll need to be prepared for
        rain, cold and windy conditions.
      </li>
      <li>
        Don&rsquo;t canoe the river when water levels are predicted to rise or
        it&rsquo;s in flood. If you capsize you may not be able to get back in, or swim
        to the river&rsquo;s edge.
      </li>
      <li>
        Always pull your canoe up high on the bank and tie it to something secure.
        It may not be raining on the river, but rain elsewhere in the large catchment can
        cause the river to rise several metres overnight.
      </li>
      <li>
        Cell phone coverage on the Whanganui Journey is limited.
      </li>
    </ul>
    
    <h3>
      Things to know before you
      go
    </h3>
    <ul>
      <li>
        
          A good level of fitness
          and the right outdoor clothing and equipment will greatly improve the enjoyment
          of your trip.
        
      </li>
      <li>
          Safety is your
          responsibility - Cell phone coverage is limited and it is recommended that you
          leave your trip details with a trusted contact. Intention forms are available
          at <a 
          href=
          "http://adventuresmart.org.nz/Outdoors-Intentions/Default.asp">adventuresmart.org.nz</a>.
        
      </li>
      <li>
          Book your trip well in
          advance including your accommodation, transport and transfers to the start/end
          of the Whanganui Journey.
        </h3>
      </li>
      <li>
        
          Pack all necessary
          equipment, your own food, drinks and any personal items for your trip including
          an extra day's supply of food and water.
        
      </li>
      <li>
        
          For a full list of
          equipment and preparation required, plus updates for the Whanganui Journey,
          please visit <a href=
          "http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/manawatu-whanganui/whanganui/whanganui-journey/plan-and-prepare/">the
          DOC website</a>.
        
      </li>
    </ul>
    <h3>
      When to go
    </h3>
    <p>
      The Whanganui Journey can be completed at any time of the year, however the
      most popular time to paddle down the river is during the summer months (December -
      February) when the weather is warmer and the days are longer. There are also many
      other recreational opportunities available in Whanganui National Park to enjoy
      including swimming, rafting, camping and fishing.
    </p>
    
    <h3>
      What to
      bring
    </h3>
    <p>
      Your basic equipment needs to include
    </p>
    <ul>
      <li>
        Backpack
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
    </ul>
    
    <p>
      Add camping gear to your list if you&rsquo;re staying at a
      campsite.
    </p>
    
    <h3>
      Travelling with
      children
    </h3>
    <p>
Although the Whanganui Journey is suitable for beginners the trip is not recommended for 
children under 12. The river can fill up rapidly if the weather changes and a good level of 
fitness and the ability to make sound decisions around health and safety are often required.
    </p>
    
    <h3>
      Nearest DOC visitor
      centre
    </h3>
    <p>
      Ruapehu i-SITE Visitor Centre<br />
      54 Clyde Street<br />
      Ohakune<br />
      <a href="tel:+6463858427" class="btn phone"></a>+64 6 385 8427<br>
      <a class="btn email" href=
      "mailto:ohakunevc@doc.govt.nz">ohakunevc@doc.govt.nz</a>
    </p>
    <h4>
      Hours
    </h4>
    <p>
      9:00 am - 3:00 pm <br />
      Mon - Fri and public holiday weekends <br />
      Closed 12:30 - 1:00 pm
    </p>
    <h4>
      Services
    </h4>
    <p>
      Great Walks bookings and recreation information for the area.
    </p>
