    <p>
      It is <b>important</b> to plan and prepare your trip and be well equipped on a Great Walk.
    </p>
    
     <p>
      Before you go, know <b>The Outdoor Safety Code</b> — 5 simple rules to help you stay safe:
    </p>
    
    <ol>
      <li>
        Plan your trip
      </li>
      <li>
        Tell someone
      </li>
      <li>
        Be aware of the weather
      </li>
      <li>
        Know your limits
      </li>
      <li>
        Take sufficient supplies
      </li>
    </ol>

    <h3>
     Track safety 
    </h3>
    <ul>
      <li>
        Heavy rain and flooding can occur at any time of year on the Whanganui River and the weather can change quickly. You will need to be prepared for rain, cold and windy conditions.
      </li>
      <li>
        Don’t canoe the river when water levels are predicted to rise or it’s in flood. If you capsize you may not be able to get back in, or swim to the river’s edge.
      </li>
      <li>
        Always pull your canoe up high on the bank and tie it to something secure. It may not be raining on the river, but rain elsewhere in the large catchment can cause the river to rise several metres overnight.
      </li>
      
    </ul>
    
    <h3>Plan and prepare</h3>

    

    <ul>
      <li>Book your trip well in advance including your accommodation, transport and transfers to the start/end of the track.</li>
      <li>Safety is your responsibility - leave your trip details with a trusted contact. See <a href="http://adventuresmart.org.nz">adventuresmart.org.nz</a>.</li>
      <li>Weather on the track is changeable, so be prepared and check the forecast before you go. See metservice.com. (www.metservice.com) 
      <li>A good level of fitness is required to walk the track. You can expect to walk up to 5 hours a day, depending on your fitness and weather conditions; and carry a pack of up to 15 kg for the whole length of the track.
      <li>The right outdoor clothing, gear and equipment will greatly improve the enjoyment of your trip. Pack all necessary equipment, your own food and drinks (including an extra day’s supply) and personal effects.
      <li>Food and drinks are not available for purchase at Great Walks huts and campsites.</li>
      <li>Cell phone coverage on the Whanganui Journey is limited.</li>
  </ul>

    <h3>
      When to go
    </h3>
    <p>
      The Whanganui Journey can be completed at any time of the year. The most popular time to paddle down the river is in summer (December – February) when the weather is warmer and the days are longer. There are also many other recreational opportunities that you can enjoy in Whanganui National Park including the <a href="http://www.nzcycletrail.com/mountains-sea-nga-ara-tuhono">Mountains to Sea Cycle Trail</a>, swimming, fishing, rafting and camping.
    </p>
    
    <h3>
      What to bring
    </h3>
    <p>
      Your basic equipment needs to include:
    </p>
    <ul>
      <li>
        Backpack and plastic pack liner
      </li>
      <li>
        Sleeping bag and liner
      </li>
      <li>
        Portable cooking stove
      </li>
      <li>
        Cooking utensils
      </li>
      <li>
        Food, incl. high-energy food
      </li>
      <li>
        Waterproof rain jacket and overtrousers
      </li>
      <li>
        Warm/thermal clothing
      </li>
      <li>
        Hiking boots
      </li>
      <li>
        Map and compass
      </li>
      <li>
        Lighter and matches
      </li>
      <li>
        Drink bottle &amp; water
      </li>
      <li>
        Torch/flashlight
      </li>
    </ul>
    
    <p>
      Add camping gear to your list if you’re staying at a campsite.
    </p>

    <p>
      For a comprehensive gear list, see <b>Plan &amp; Prepare</b> at <a href="http://www.greatwalks.co.nz">Great Walks</a>.
    </p>
    
    <h3>
      Travelling with children
    </h3>

    <p>The Whanganui Journey is not recommended for children under 12. Water levels can rise rapidly in heavy rain and flooding can occur at any time of the year on the river. A good level of fitness and the ability to make sound decisions is essential to help you and your family stay safe.</p>
    
    <h3>DOC visitor centres</h3>

    <p>DOC Visitor Centres can help you plan and book your Great Walks experience. You can also pick up maps, brochures, gear and equipment, and other personal items that might be helpful for your trip.</p>

    <p><a href="http://www.doc.govt.nz/footer-links/contact-us/visitor-centres/">Find your nearest DOC Visitor Centre</a>.</p>