    <p>
      <img src="img/dont-miss-background-paper.png" class="paper" alt="">
      <img src="img/dont-miss-background-paper-shadow.png" class="shadow" alt="">
      
      <a class="kiwi" href="#" data-content="Listen for the call of the brown kiwi, often heard at night. If you’re lucky, you may see long-tailed or short-tailed bats fluttering overhead at dusk. Look out for the native blue duck/whio in the clean fast-flowing river habitats, with eels, freshwater crayfish, black flounder and native fish species inhabiting the river.">
          <img src="img/walks/whanganui-journey/dont-miss-kiwi.png" alt="Kiwi">
      </a>
      <a class="tikidude" href="#" data-content="Soak up the Maori history as you journey through this otherwise remote area by canoe down the Whanganui River. Discover how Maori cultivated the sheltered river terraces and built elaborate eel traps along the river to feed their tribe.">
          <img src="img/walks/whanganui-journey/dont-miss-tikidude.png" alt="tikidude">
      </a>
      <a class="scenic-river" href="#" data-content="Short on time? Take the shorter, scenic 3 day river journey from Whakahoro to Pipiriki. Paddle through deep gorges draped in vegetation, passing cascading waterfalls, the Tarepokioere (whirlpool) rapid and the large overhang known as Tamatea’s Cave.">
          <img src="img/walks/whanganui-journey/dont-miss-scenic_river.png" alt="Scenic river">
      </a>
      <a class="culture" href="#" data-content="Learn about the history of Tieke and the tikanga (protocol) for staying on a marae, which also doubles as a Great Walks hut and camping area. You can enjoy a unique overnight stay at Tieke Kainga hut as part of your river journey. Tieke was one of many old pa (Maori village) sites on the Whanganui River and has been revived as a kainga (village) by the local Maori people who live in this area.">
          <img src="img/walks/whanganui-journey/dont-miss-culture.png" alt="Culture">
      </a>
      

      <a class="bridge" href="#" data-content="Visit the famous Bridge to Nowhere, a bridge left behind by returned World War One Serviceman in the valley of abandoned dreams. A gentle 40 minute walk from the Mangapurua Landing on the Whanganui River will take you there.">
        <img src="img/walks/whanganui-journey/dont-miss-bridge.png" alt="Bridge">
      </a>
    </p>
   