    <h3>
      Start of the track
    </h3>
    
    <p>Traditional entry or exit points for the Whanganui Journey are off SH4 at:</p>

    <ul>
      <li>
        Taumarunui
      </li>
      <li>
        Ohinepane (access from Taumarunui)
      </li>
      <li>
        Whakahoro (access from Raurimu or Owhango)
      </li>
      <li>
        Pipiriki (access from Raetihi or Whanganui)
      </li>
    </ul>

    <p>Equipment hire, services, food and transport can be found in Taumarunui, Whanganui, Raetihi, Ohakune and National Park Village.</p>
    
    <h3>Road distances and times</h3>

    <p>Wanganui to Whanganui Journey - 164 km / 2 hours (to Taumarunui)</p>

    <p>Taupo to Whanganui Journey  - 116 km / 1 hour 30 min (to Taumarunui)</p>

    <p>The above driving times are indicative only - always allow for extra time to get to your destination.</p>

    <h3>Nearest airports</h3>

    <p>Wanganui and Taupo Airports are about the same driving distance from the start of the shorter 3 day river journey in Whakahoro, approximately 2.5 hours. Canoe hire, drop off and secure parking are packaged together by tour operators. Some tour operators are based along the Whanganui River Road in Pipiriki, Raetihi and Ohakune and in this instance driving from Wanganui would be the best option. For those keen to complete the longer 5 day river journey driving from Taupo to Taumarunui is quicker, however this depends on where you hire your canoes.</p>

    <p>To make a flight booking visit <a href="http://www.airnewzealand.co.nz/home?gclid=COTD2eHFrroCFcs1pgod03oAqQ">Air New Zealand</a>. Flights to any of these airports typically connect from Auckland or Wellington.</p>

    <h3>Transport and accommodation</h3>

    <p><a href="http://www.doc.govt.nz/parks-and-recreation/tracks-and-walks/manawatu-whanganui/whanganui/whanganui-journey/plan-and-prepare/guides-and-commercial-tourism-providers/">Guides and commercial tourism providers</a> – find accommodation, transport, and activities in the area.</p>