 <h3>
      Track description
    </h3>
    <p>
      The river journey from Taumaranui to Pipiriki takes 5 days to complete by
      canoe (145 km) or a shorter 3 day journey from Whakahoro to Pipiriki is also
      possible (83 km).
    </p>
    
    <p>
      <a href="{{map_filename}}" class="btn">View map</a>
    </p>
    
    <h3>Walking guide</h3>
    
    <h4>
      Day 1 and 2: Cherry Grove, Taumaranui to Whakahoro
    </h4>
    <p><strong>
      57 km</strong>
    </p>
    <p>
      Travelling the upper reaches of the Whanganui River, you&rsquo;ll pass
      through a mixture of farmland and patches of native bush. A steeper section of the
      river, it features more frequent rapids so enjoy a bit of excitement as you shoot
      down them. You can put your canoe in at Ngahuinga (Cherry Grove) in Taumarunui or
      further downstream at Ohinepane, accessed from River Road (SH 43). Camp beside the
      murmuring river at Ohinepane, Poukaria or Maharanui Campsites. From here you get
      the feeling of venturing into the heart of a rich and rugged landscape.
    </p>
    
    <h4>
      Day 3: Whakahoro to John Coull Hut
    </h4>
    <p><strong>
      37.5 km</strong>
    </p>
    <p>
      Below Whakahoro, where many begin their river journey, you&rsquo;ll enter the
      scenic middle reaches of the river. Many begin their journey here. Paddle through
      deep gorges draped in vegetation and often featuring numerous waterfalls after
      heavy rain. Past Mangapapa Campsite, take a long loop around the Kirikiriroa
      Peninsula, pass the Tarepokioere (whirlpool) rapid, which used to pose a danger to
      riverboats, and then the large overhang known as Tamatea&rsquo;s Cave. Please do
      not enter the cave as it is wahi tapu (a sacred place). Below Ohauora Campsite,
      enter the long Otaihanga Reach, which leads you to your overnight stop at John
      Coull Hut and Campsite. If you are lucky you may see long-tailed bats fluttering
      overhead at dusk.
    </p>
    
    <h4>
      Day 4: John Coull Hut to Tieke Kainga
    </h4>
    <p><strong>
      29 km</strong>
    </p>
    <p>
      On this section, follow the river as it meanders through bush-covered hills,
      passing the mouths of the Tangarakau and Whangamomona Rivers where they join the
      Whanganui. Perched high above the river, Mangawaiiti is an attractive spot to camp
      or stop for lunch. At Mangapurua Landing, where the old riverboats used to tie up,
      hop out of your canoe and take a 40 minute bush walk to the historic Bridge to
      Nowhere, a poignant reminder of the Mangapurua Valley farm settlement, carved out
      of the bush and then abandoned between the two World Wars. Look out for cyclists -
      the track is also part of the Mountains to Sea Cycle Trail. Back in your canoe,
      continue your trip downstream to Tieke Kainga where you can examine the intricately
      carved pou whenua and learn about the history of Tieke and the tikanga (protocol)
      of the marae.
    </p>
    
    <h4>
      Day 5: Tieke Kainga to Pipiriki
    </h4>
    <p><strong>
      21.5 km</strong>
    </p>
    <p>
      This is the homeward stretch, but the river still has a few surprises. You
      can explore the scenic gorge of the Manganui o te Ao River where it enters the
      Whanganui after its journey from the slopes of Mount Ruapehu. The standing waves of
      the large Ngaporo and Autapu rapids can also provide plenty of excitement and
      perhaps a cool dip on a hot day! More exotic trees and farmland indicate
      you&rsquo;re getting close to Pipiriki and the end of your time on the awa. Pass an
      eel weir on your left, shoot the Paparoa rapid and you will see the boat ramp below
      Pipiriki village up ahead.
    </p>
    

