    <p>
      <a href="{{map_filename}}" class="icon-map-text">View map</a>
    </p>

    <p>
      There are a number of options for exploring the Whanganui River by canoe or kayak. This guide describes a 5 day trip from Taumaranui to Pipiriki for independent, non-guided canoeists (83 km).
    </p>
    
    <h4>
      Day 1 and 2: Cherry Grove, Taumaranui to Whakahoro
    </h4>

    <p><strong>57 km</strong></p>

    <p>
      Access points are at Ngahuinga in Taumarunui or further downstream at Ohinepane (accessed from River Road SH43).
    </p>
 
    <p>
      Travelling the upper reaches of the Whanganui River, you’ll pass through a mixture of farmland and patches of native bush. You’ll be in for some excitement as you shoot down some rapids on this section of the river. Camp beside the river at Ohinepane, Poukaria or Maharanui Campsites. From here you get the feeling of venturing into the heart of a rich and rugged landscape.
    </p>
    
    <h4>
      Day 3: Whakahoro to John Coull Hut
    </h4>

    <p><strong>37.5 km</strong></p>

    <p>
      Many begin their river journey here—the scenic middle reaches of the river, featuring numerous waterfalls after heavy rain. Past Mangapapa Campsite, take a long loop around the Kirikiriroa Peninsula, pass the Tarepokioere (whirlpool) rapid and then the large overhang known as Tamatea’s Cave. Please do not enter the cave as it is wāhi tapu (a sacred place). Otaihanga Reach leads you to your overnight stop at John Coull Hut and Campsite.
    </p>
    <p>
      You may see long-tailed bats fluttering overhead at dusk.
    </p>
    
    <h4>
      Day 4: John Coull Hut to Tieke Kainga
    </h4>
    <p><strong>
      29 km</strong>
    </p>
    <p>
      On this section, follow the river as it meanders through bush-covered hills, passing the mouths of the Tangarakau and Whangamomona Rivers where they join the Whanganui. Perched high above the river, Mangawaiiti is an attractive spot to camp or stop for lunch. Continue your trip downstream to Tieke Kainga where you can examine the intricately carved pou whenua and learn about the history of Tieke and the tikanga (protocol) of the marae.
    </p>
    
    <h4>
      Day 5: Tieke Kainga to Pipiriki
    </h4>
    <p><strong>
      21.5 km</strong>
    </p>
    <p>
      You’ll pass through the scenic gorge of the Manganui o te Ao River where it enters the Whanganui after its journey from the slopes of Mount Ruapehu. Ngaporo and Autapu rapids can provide plenty of excitement and perhaps a cool dip on a hot day. More exotic trees and farmland indicate you are getting close to Pipiriki. Pass an eel weir on your left, shoot the Paparoa rapid and you will see the boat ramp below Pipiriki village up ahead.
    </p>
    

