    <p>
      DOC provides two huts, a bunkroom and eleven campsites on the Whanganui
      Journey.
    </p>
    <h3>
      Huts
    </h3>
    <p>
      Whanganui Journey huts have heating, toilets, bunks, mattresses and cold
      running water and some have cooking facilities. There are no cooking facilities and
      only limited heating available in the huts during the off peak season (1 May - 30
      Sep). Note: Huts do not provide lighting, pots and pans, cooking utensils, linen or
      food for purchase. Make sure you put these things on your checklist before you
      go.
    </p>
    
    <ul>
      <li>
        John Coull Hut: 24 bunks
      </li>
      <li>
        Tieke Kainga: 20 bunks
      </li>
      <li>
        Whakahoro Bunkroom (part of the Whakahoro campsite): 10 bunks
      </li>
    </ul>
    <h3>Campsites
    </h3>
    <p>
      The Whakahoro and Ohauora campsites are the only campsites along the
      Whanganui Journey that are accessible by road. All other campsites and huts are
      only accessible from the river.
    </p>
    
    <p>
      Campsites offer basic facilities including tap water, toilets and picnic
      tables and shelter for cooking. Campers are not permitted to use hut facilities.
    </p>
    <h3>
      Cost and booking
    </h3>
    <p>
      Fees are charged per person, per night to stay in huts and campsites.
    </p>
    <p>
      Bookings are essential! Use the <a href="https://booking.doc.govt.nz/Menu.aspx?sg=WJY">DOC online booking system</a> prior to travel or
      call <a href="tel:0800694732" class="btn phone"></a>0800 NZ GREATWALKS.
    </p>
